[2021-09-07 11:13] srinjoyc opened #2 "New Tool: Block explorer GUI"
## Description/Problem

There are no easy ways to inspect the current state of the Flow blockchain when running the emulator locally. This means it can be difficult to verify your smart contract logic during your development workflow. To solve this, we'd like to have a graphical user interface (GUI) that simplifies the network state into visual elements, allows for simple interactions, and is opti

[2021-09-07 11:47] srinjoyc opened #3 "VS Code Extension: Architecture improvements"
## Description (Problem Statement)

The VS Code extension architecture could be improved so the extension becomes lighter and only handles the communication with the language server and the UI. This simplification would allow easier testing, less complexity and, better UX during the installation process. Currently, the extension requires the Flow CLI pre-installed in order to start and manage the

[2021-09-07 12:30] srinjoyc opened #4 "CLI & Emulator Feature: Flow network snapshots"
**Description (Problem Statement)**

The developer should be able to get a snapshot of the Flow mainnet/testnet blockchain at a specific time in history and inspect it locally using the emulator. This would allow developers to debug their contracts but also to compose on top of other existing applications deployed to the network. The CLI should be extended to support this functionality by implemen

[2021-09-07 13:23] srinjoyc opened #5 "CryptoDappy Feature: NFT marketplace"
## Description (Problem Statement)

CryptoDappy is a community-owned learning application for Flow. As of now, only direct NFT purchases from the main contract are possible. We want to give users the experience to list their Dappies (NFTs) for sale in order to sell them to other buyers, and give buyers a chance to purchase Dappies of other users. To achieve this, let the [NFT-storefront contract](

[2021-09-07 13:35] srinjoyc opened #6 "CryptoDappy Feature: localization (I18n) solution"
## Description (Problem Statement)

CryptoDappy is a community-owned learning application for Flow. As our international audience grows, we would like to offer our learning content in different languages. Community members have already published some translated documents (e.g. [Vietnamese version](https://github.com/bebner/crypto-dappy-learning-hub/pull/4)), but the basic functionality of changing

[2021-09-07 20:45] srinjoyc opened #8 "CLI Feature: Command autocomplete"
## Description (Problem Statement)

The CLI should provide command autocompletion to improve the UX. There has been some work already done to implement this feature but it requires more attention. More testing is needed across different shells. The current implementation doesn't allow users to autocomplete file names (ie. `tab tab` for the filename), it currently only works for command names.

##

[2021-09-09 14:31] srinjoyc opened #10 "Dev Wallet Feature: Improve OpenID implementation"
## Description/Problem

Dapps should be able to define and request user information from FCL compatible wallet providers so that they can associate the account address with identity fields. Currently, during authentication, the only field the FCL development wallet returns is the address of the authenticated account and [hardcoded values](https://github.com/onflow/fcl-dev-wallet/blob/d99d991ec0fde

[2021-09-09 14:49] srinjoyc opened #11 "CLI Feature: Launch FCL development wallet"
## Description (Problem Statement)

Currently, when developing Flow applications locally, the FCL dev wallet must be started as a separate Docker container on the user's machine.

While having a Dockerized version of the dev wallet may be useful without the emulator for specific scenarios, such as a testnet demonstration app, **the overwhelming majority of the time, users will want to use the two

[2021-09-09 14:57] srinjoyc opened #12 "Emulator Feature: Report gas used"
## Description (Problem Statement)

There should be a way to see transaction gas (computation) usage.

Gas usage is not the same as transaction fees. Transaction fees are currently static, but in the future they will depend on the gas used by the transaction.

Executed transactions are currently logged like this (when in verbose mode):

![image](https://user-images.githubusercontent.com/8709330/13

[2021-09-09 15:08] srinjoyc opened #13 "CLI Feature: Test suite"
## Description (Problem Statement)

The [CLI command layer](https://github.com/onflow/flow-cli/tree/master/internal) isn't tested which leaves room for mistakes and regressions when releasing. Manually testing is time-consuming and should be automated. All the command methods in this layer have been extracted and should be included as part of integration tests, passing all the values as arguments

[2021-09-09 15:22] srinjoyc opened #14 "CLI Feature: Hot commands"
## Description (Problem Statement)

The flow CLI should be customized to provide easy access to common commands. The structure of the commands help screen is depicted in Figure 1. Initially deploy, run and init commands should have aliases.

[code]

*Figure 1. Command structure*

## Experience Required

- Experience with Go

## Minimum Feature Set (Acceptance Criteria)

- Customize help screen to

[2021-09-12 07:24] psiemens opened #15 "New Tool: Events indexing service"
## Description (Problem Statement)

Most Flow applications, and especially dapps, need to respond to on-chain events emitted by Cadence smart contracts. Typically, an application will periodically query the Flow Access API for a specific set of events that they care about. When an event occurs, the application will update its internal state (e.g. a database) or notify its users of the on-chain act

[2021-09-12 07:26] psiemens opened #16 "New Standard: NFT metadata"
<p align="center">
  <img  height="300" src="https://user-images.githubusercontent.com/901466/146048771-5d0b847a-cb9f-46d8-ba39-766a94444048.png">
</p>

## Description (Problem Statement)

NFTs are more than just numbers and bytes — at their best, they are rich representations of digital goods that people around the world can fall in love with. The current Flow NFT interface, however, does not inc

[2021-09-12 07:31] psiemens opened #17 "New Standard: Decentralized identifiers (DIDs) on Flow"
## Description (Problem Statement)

Decentralized identifiers (DIDs) are a form of self-sovereign identifiers that aim for a standard **interoperable** way of **identifying** and **authenticating** subjects inside decentralized systems.

**From W3C:** Decentralized identifiers (DIDs) are a new type of identifier that enables verifiable, decentralized digital identity. A DID refers to any subject (

[2021-09-13 03:45] psiemens opened #18 "Playground Feature: Markdown READMEs"
## Description (Problem Statement)

Flow developers use the playground to learn, experiment, and share Cadence code. Often times, playground project links are passed around as examples and learning materials for others to use. However, the playground does currently do not provide developers with a way to describe what their projects do and how their code works.

The goal of this task is to add a f

[2021-09-13 04:16] psiemens opened #19 "New Tool: Add Cadence support for IntelliJ Platform"
## Description (Problem Statement)

[Visual Studio Code](https://github.com/onflow/vscode-cadence) and [Vim](https://github.com/Cian911/vim-cadence) are currently the only code editors that support the Cadence language. We want to expand this support to additional tools so that developers can write Cadence code in the editor of their choice.

For this task, your goal is to integrate basic Cadence

[2021-09-13 05:38] psiemens opened #20 "New Tool: Build a Flow SDK"
## Description (Problem Statement)

We are looking for teams interested in building and maintaining SDKs for Flow to make it easier for a broad range of developers to interact with the blockchain.

We welcome the introduction of any language SDK as a Tier 1 task with the exception of the following existing SDKs. If you intend to build in one these languages, we recommended you consider contributin

[2021-09-13 14:09] srinjoyc opened #21 "Playground Feature: Multiple contracts per account"
## Description (Problem Statement)

Flow developers use the playground to learn, experiment, and share Cadence code. The current playground model only supports a single account to have a single contract. We want to expand this feature to hold multiple contracts per account. This will require changes to the UI as well as the backend.

## Experience Required

- Strong proficiency with TypeScript and

[2021-09-13 14:33] srinjoyc opened #22 "CLI Feature: State management"
## Description (Problem Statement)

The CLI should allow saving the current state and then later restarting from that point similar to how you can use git to move between states. This feature is mostly implemented in the [PR branch](https://github.com/onflow/flow-cli/pull/282) but should be tested, extended with a test suite, and ensure the UX is great.

## Experience Required

- Experience with G

[2021-09-13 14:44] srinjoyc opened #23 "Non-React FCL Usage: dapp example"
## Description (Problem Statement)

While using FCL is possible in non-react example, we do not have many examples in the community of this usage. There are some issues with installing the FCL package directly due to packages used to support GRPC. This issue is to have teams work on examples that demonstrate usage of FCL in a full-stack example dapp in similar complexity to our other popular commu

[2021-09-14 11:56] srinjoyc opened #24 "FCL Feature: Calculate the transaction hash"
## Description (Problem Statement)

Right now, there's no way to get the transaction hash before it's sent to the blockchain. Pre-calculating the transaction hash will allow for error recovery if there are any network connection issues during the submission of the transaction.

## Experience Required (Team Required)

- JS and familiarity with FCL, SDK send

## Minimum Feature Set (Acceptance Crite

[2021-09-14 12:05] srinjoyc opened #25 "FCL Feature: Simplify `currentUser` syntax"
## Description (Problem Statement)

Simplify the syntax of the `fcl.currentUser` function into a class or object.

## Experience Required (Team Required)

- JS and familiarity with FCL `fcl.currentUser`

## Minimum Feature Set (Acceptance Criteria)

- Upon successful completion the following should be true:

[code]

## Milestone Requirements

- Update `fcl.currentUser()` from function to Class or

[2021-09-14 12:38] srinjoyc opened #26 "CLI Feature: Add view command"
## Description (Problem Statement)

The flow CLI configuration command should be expanded with the view subcommand to retrieve values set in the configuration for all the resources.

Configuration syntax:

[code]

Example usage:

[code]

## Experience Required

- Experience with Go

## Minimum Feature Set (Acceptance Criteria)

- Implement view subcommand with updated documentation and examples

#

[2021-09-14 12:48] srinjoyc opened #27 "Emulator Feature: Bootstrap with default contracts"
## Description (Problem Statement)

The emulator is currently bootstrapped with (original contracts):

- FlowFees
- FlowServiceAccount
- FlowStorageFees
- FlowToken
- FungibleToken

There are also other contracts that are very commonly used and it would be practical if emulator came with those as well (new contracts):

- [NFT contract](https://github.com/onflow/flow-nft/blob/master/contracts/NonFu

[2021-09-14 13:36] srinjoyc opened #28 "Flow Providers: Non-custodial wallets"
## Description (Problem Statement)

Flow is looking for wallet providers to join the ecosystem.

Please review our [RFP (Request for Proposal) document](https://docs.google.com/document/d/1t9WjLvgfbKONerbvUUdhaI6B8fhYXlgfORs9fqz86Qc/edit?usp=sharing) to understand the current ecosystem and its gaps new wallets should ideally fill.

## Experience Required

- Previous or current experience on blockc

[2021-09-15 02:43] psiemens opened #29 "Playground Feature: Improve the resource explorer"
## Problem

In the playground, the resource explorer is the tab the shows the resources inside each account. It is hidden initially and only shows up once you interact with an account's storage. But even then, it only shows up after you click an account, which usually decouples the view a transaction that updates the stored resources.

Furthermore, you can only see single account at once. If you w

[2021-09-15 14:50] srinjoyc opened #30 "JS Testing Feature: Multiple return values from interaction"
## Description (Problem Statement)

The JS Testing Framework has two functions: `sendTransaction` and `executeScript` that currently return a single result from their execution. It does not have a good way of handling errors that should be caught and processed. This can cause issues with multiple interactions called in succession.

## Experience Required

- Great proficiency with JavaScript
- Good

[2021-09-15 14:55] #4 closed, assigned to devbugging

[2021-09-15 15:06] srinjoyc opened #31 "CLI Feature: Project scaffolding"
## Description (Problem Statement)

Currently, there are no local tools that support scaffolding a Flow project.

For newcomers to Flow, having a suggested folder structure, as well as boilerplate configuration will save them time while experimenting or kicking off their next project.

This issue proposes a lightweight scaffolding system to be built into the Flow CLI, enabling users to quickly gen

[2021-09-15 17:20] bebner commented on #6
Hi everyone, I'm Ben, technical content marketing manager at Flow - nice to meet you! At Flow, I create technical content and educational material, and I have created [CryptoDappy](https://www.cryptodappy.com) as a starter course to onboard new developers to Flow. You can find me on discord (bebner#2025) - happy to help you wherever I can!

[2021-09-15 17:21] bebner commented on #5
Hi everyone, I'm Ben, technical content marketing manager at Flow - nice to meet you! At Flow, I create technical content and educational material, and I have created [CryptoDappy](https://www.cryptodappy.com) as a starter course to onboard new developers to Flow. You can find me on discord (bebner#2025) - happy to help you wherever I can!

[2021-09-15 18:47] psiemens commented on #15
Hey! 👋

I'm an engineer from the core Flow team who will be the go-to person for this task (the point-of-contact).

Feel free to hit me up with any questions about this issue. Once you start, I'll also be around to help with your implementation and review code.

You can comment here or find me on Discord (I'm pete#0003). Join the [Flow Discord server](https://onflow.org/discord) if you're not ther

[2021-09-15 18:47] psiemens commented on #20
Hey! 👋

I'm an engineer from the core Flow team who will be the go-to person for this task (the point-of-contact).

Feel free to hit me up with any questions about this issue. Once you start, I'll also be around to help with your implementation and review code.

You can comment here or find me on Discord (I'm `pete#0003`). Join the [Flow Discord server](https://onflow.org/discord) if you're not th

[2021-09-15 19:11] gregsantos commented on #25
Hello folks! I'm Greg 👋🏼 😎  A Senior Javascript Developer on the DevEx Team.
If you choose this issue, I'll be your primary Point of Contact for any questions on implementation, code reviews, and/or help getting it over the finish line. Thanks for participating and Good Luck!

[2021-09-15 19:11] gregsantos commented on #24
Hello folks! I'm Greg 👋🏼 😎  A Senior Javascript Developer on the DevEx Team.
If you choose this issue, I'll be your primary Point of Contact for any questions on implementation, code reviews, and/or help getting it over the finish line. Thanks for participating and Good Luck!

[2021-09-15 19:14] rheaplex commented on #16
Heya everyone!

I'm Rhea, one of the engineers from the core Flow team working on Cadence and its uses. As you can see from the Assignees list I'm a point of contact for all of you on this issue. I write Cadence code and perform code reviews for internal and external projects, so if you have any Cadence questions I should be able to help! In a previous life I did metadata standards work, so I'm lo

[2021-09-15 19:21] tehranifar commented on #15
Hello!

I was a backend engineer on Dapper and I've created a similar service for Dapper/TopShot. Would be happy to help on this issue and provide help/reviews. You can reach out to me on Discord `navid#3642`.

[2021-09-15 19:24] joshuahannan commented on #16
Hello! My name is Josh and I am also a smart contract engineer on the Flow team. I'm happy to help wherever is needed. 😄

[2021-09-15 19:37] MaxStalker commented on #18
Hey, Flow Surfer!
My name is Max. I am core member of Developer Experience team and I will be your Point-of-Contact for this task.
If you stumble into any challenges with this task, feel free to contact me via replies to this issue or over [Flow Discord](https://discord.gg/86h3jGW8) (my handle is `MaxStarka#5714`).

Looking forward to work with you! :)

[2021-09-15 19:37] MaxStalker commented on #21
Hey, Flow Surfer!
My name is Max. I am core member of Developer Experience team and I will be your Point-of-Contact for this task.
If you stumble into any challenges with this task, feel free to contact me via replies to this issue or over [Flow Discord](https://discord.gg/86h3jGW8) (my handle is `MaxStarka#5714`).

Looking forward to work with you! :)

[2021-09-15 19:37] MaxStalker commented on #29
Hey, Flow Surfer!
My name is Max. I am core member of Developer Experience team and I will be your Point-of-Contact for this task.
If you stumble into any challenges with this task, feel free to contact me via replies to this issue or over [Flow Discord](https://discord.gg/86h3jGW8) (my handle is `MaxStarka#5714`).

Looking forward to work with you! :)

[2021-09-15 19:38] MaxStalker commented on #30
Hey, Flow Surfer!
My name is Max. I am core member of Developer Experience team and I will be your Point-of-Contact for this task.
If you stumble into any challenges with this task, feel free to contact me via replies to this issue or over [Flow Discord](https://discord.gg/86h3jGW8) (my handle is `MaxStarka#5714`).

Looking forward to work with you! :)

[2021-09-15 19:38] MaxStalker commented on #19
Hey, Flow Surfer!
My name is Max. I am core member of Developer Experience team and I will be your Point-of-Contact for this task.
If you stumble into any challenges with this task, feel free to contact me via replies to this issue or over [Flow Discord](https://discord.gg/86h3jGW8) (my handle is `MaxStarka#5714`).

Looking forward to work with you! :)

[2021-09-15 20:16] bjartek commented on #16
👋

[2021-09-15 20:32] rheaplex commented on #5
Heya all.

I'm Rhea ( @rheaplex ), a senior smart contract engineer at Dapper Labs and one of the authors of the nft-storefront Cadence smart contract code. I'm available to answer any questions you may have about that code and how to interface with it, on-chain and off.

😺

[2021-09-15 20:52] briandilley commented on #16
👋 as NFTco (along with @bjartek).

[2021-09-15 21:23] srinjoyc commented on #28
Hi 👋
I'm Srinjoy - a Technical Product Manager on the Developer Experience Team! I'll help answer any questions and can guide any teams interested in working on this issue!

You can comment here or find me on Discord (srinjoyc#4183). Join the [Flow Discord](https://onflow.org/discord) server if you're not there already!

[2021-09-15 21:27] janezpodhostnik commented on #2
Hi!

I'm an engineer from the Flow team. I work with the Flow virtual machine (FVM) and I can be you point of contact on any changes needed to the emulator to achieve your goal and as general guidance.

Feel free to ask me any questions, and once you start I can help you with the implementation and review.

You can reach me here or on discord (TheOneSock#1135 JanezP on the flow discord).

[2021-09-15 21:42] briandilley commented on #16
Team _**Non Fungibles**_ checking in on this one:
- @bjartek
- @bluedesign
- @briandilley

First milestone (FLIP submission) should be done today/tomorrow.

[2021-09-15 22:10] 10thfloor commented on #31
Hello there.
Mackenzie here. 🏄🏼‍♂️ I'm part of the Developer Experience team at Flow. Glad you're checking out this issue.
I can help answer any questions you might have about what you see here, and if you decide to take this on, I'll be your primary point of contact for you or your team.

Please add your comments/questions here, or find me on the Flow Discord (mack)

Happy hacking!
🚀

[2021-09-15 22:10] 10thfloor commented on #23
Hello there.
Mackenzie here. 🏄🏼‍♂️ I'm part of the Developer Experience team at Flow. Glad you're checking out this issue.
I can help answer any questions you might have about what you see here, and if you decide to take this on, I'll be your primary point of contact for you or your team.

Please add your comments/questions here, or find me on the Flow Discord (mack)

Happy hacking!
🚀

[2021-09-15 22:11] 10thfloor commented on #17
Hello there. Oh this is a good one.
Mackenzie here. 🏄🏼‍♂️ I'm part of the Developer Experience team at Flow. Glad you're checking out this issue.
I can help answer any questions you might have about what you see here, and if you decide to take this on, I'll be your primary point of contact for you or your team.

Please add your comments/questions here, or find me on the Flow Discord (mack)

Happy

[2021-09-15 22:11] 10thfloor commented on #11
Hello there.
Mackenzie here. 🏄🏼‍♂️ I'm part of the Developer Experience team at Flow. Glad you're checking out this issue.
I can help answer any questions you might have about what you see here, and if you decide to take this on, I'll be your primary point of contact for you or your team.

Please add your comments/questions here, or find me on the Flow Discord (mack)

Happy hacking!
🚀

[2021-09-15 22:11] 10thfloor commented on #10
Hello there.
Mackenzie here. 🏄🏼‍♂️ I'm part of the Developer Experience team at Flow. Glad you're checking out this issue.
I can help answer any questions you might have about what you see here, and if you decide to take this on, I'll be your primary point of contact for you or your team.

Please add your comments/questions here, or find me on the Flow Discord (mack)

Happy hacking!
🚀

[2021-09-15 22:12] 10thfloor commented on #2
Hello there.
Mackenzie here. 🏄🏼‍♂️ I'm part of the Developer Experience team at Flow. Glad you're checking out this issue.
I can help answer any questions you might have about what you see here, and if you decide to take this on, I'll be a point of contact for you or your team.

Please add your comments/questions here, or find me(mack) or @janezpodhostnik (Discord nick above ☝️)  on the Flow Disco

[2021-09-15 22:30] 10thfloor commented on #11
Another note about this issue. We could also expand the scope of this issue to include starting the dev-wallet as a feature within the[ desktop GUI proposed here](https://github.com/onflow/flip-fest/issues/2).

[2021-09-15 22:32] 10thfloor commented on #2
This could also include the [dev-wallet service mentioned here](https://github.com/onflow/flip-fest/issues/11).

[2021-09-16 05:18] prpatel05 commented on #15
[pratik1719_a2eb - FLIP Fest - Team | HackerEarth Hackathons](https://www.hackerearth.com/challenges/hackathon/flip-fest/dashboard/a2ebd1a/team/)

https://github.com/prpatel05

ECD: 2021-09-24

Excited to work on this!  We built a very similar system which continuously watches for events on the Flow Blockchain and triggers custom logic based on them.  It was built to be reusable and configurable s

[2021-09-16 05:51] lmcmz commented on #20
Hi @psiemens

Team @Zed will focus on Swift SDK implementation. ✊🏻

[2021-09-16 07:56] blockpilabs commented on #2
**Team name:** yuan21_61e3
**Team link on HackerEarth:** https://www.hackerearth.com/challenges/hackathon/flip-fest/dashboard/61e364a/team/
**Team member:** culmore2015, blockpilabs
**First milestone:**

The specific functions and technical solutions are under working, If there are any updates, we will post them here.

[2021-09-16 08:15] sideninja commented on #14
Hi 👋
my name is Gregor, and as a software engineer working on developer tools, I will be your point of contact for this task, so good luck, and don't hesitate to reach out to me with any problems or questions.

I'll keep an eye on your progress and will be reviewing your code.

You can comment here or find me on Discord (I'm sideninja#1970). Join the [Flow Discord server](https://discord.com/invit

[2021-09-16 08:15] sideninja commented on #27
Hi 👋
my name is Gregor, and as a software engineer working on developer tools, I will be your point of contact for this task, so good luck, and don't hesitate to reach out to me with any problems or questions.

I'll keep an eye on your progress and will be reviewing your code.

You can comment here or find me on Discord (I'm sideninja#1970). Join the [Flow Discord server](https://discord.com/invit

[2021-09-16 08:16] sideninja commented on #26
Hi 👋
my name is Gregor, and as a software engineer working on developer tools, I will be your point of contact for this task, so good luck, and don't hesitate to reach out to me with any problems or questions.

I'll keep an eye on your progress and will be reviewing your code.

You can comment here or find me on Discord (I'm sideninja#1970). Join the [Flow Discord server](https://discord.com/invit

[2021-09-16 08:16] sideninja commented on #22
Hi 👋
my name is Gregor, and as a software engineer working on developer tools, I will be your point of contact for this task, so good luck, and don't hesitate to reach out to me with any problems or questions.

I'll keep an eye on your progress and will be reviewing your code.

You can comment here or find me on Discord (I'm sideninja#1970). Join the [Flow Discord server](https://discord.com/invit

[2021-09-16 08:16] sideninja commented on #13
Hi 👋
my name is Gregor, and as a software engineer working on developer tools, I will be your point of contact for this task, so good luck, and don't hesitate to reach out to me with any problems or questions.

I'll keep an eye on your progress and will be reviewing your code.

You can comment here or find me on Discord (I'm sideninja#1970). Join the [Flow Discord server](https://discord.com/invit

[2021-09-16 08:16] sideninja commented on #12
Hi 👋
my name is Gregor, and as a software engineer working on developer tools, I will be your point of contact for this task, so good luck, and don't hesitate to reach out to me with any problems or questions.

I'll keep an eye on your progress and will be reviewing your code.

You can comment here or find me on Discord (I'm sideninja#1970). Join the [Flow Discord server](https://discord.com/invit

[2021-09-16 08:16] sideninja commented on #8
Hi 👋
my name is Gregor, and as a software engineer working on developer tools, I will be your point of contact for this task, so good luck, and don't hesitate to reach out to me with any problems or questions.

I'll keep an eye on your progress and will be reviewing your code.

You can comment here or find me on Discord (I'm sideninja#1970). Join the [Flow Discord server](https://discord.com/invit

[2021-09-16 08:16] sideninja commented on #3
Hi 👋
my name is Gregor, and as a software engineer working on developer tools, I will be your point of contact for this task, so good luck, and don't hesitate to reach out to me with any problems or questions.

I'll keep an eye on your progress and will be reviewing your code.

You can comment here or find me on Discord (I'm sideninja#1970). Join the [Flow Discord server](https://discord.com/invit

[2021-09-16 08:20] sideninja commented on #20
Hi 👋
my name is Gregor, and as a software engineer working on developer tools, I will be offering help to you and @psiemens with the work on this task.

Wish you good luck and feel free to reach out at any point.

You can comment here or find me on Discord (I'm sideninja#1970). Join the [Flow Discord server](https://discord.com/invite/J6fFnh2xx6) if you're not there already!

[2021-09-16 12:15] CharlesM1nD commented on #16
Your team name with a link to the HackerEarth team
https://www.hackerearth.com/challenges/hackathon/flip-fest/dashboard/2f5b51c/team/

Tag all team members with their Github usernames that are working on the project：
https://github.com/cata-network

When you plan on completing the first milestone.
2021.10.10

[2021-09-16 15:57] ryankopinsky commented on #20
👋🏼 Hey everyone! Super stoked to see more devs interested in creating a Swift SDK. I recently published the first Swift SDK for Flow and would love to unify efforts, if there is a desire to do so :) Here's the link (there will be many more updates to it in the next few days): https://docs.onflow.org/sdks/#swift

Cheers,
Ryan

[2021-09-16 16:32] gotisbrown commented on #16
Hi, all: I'm Glenn. Here to help on this proposal along with Rhea and co. Looking forward to it.

[2021-09-16 19:48] figs999 commented on #16
Solo Team here. First Milestone has been submitted to HackerEarth.
https://www.hackerearth.com/challenges/hackathon/flip-fest/dashboard/4459c1a/team/

[2021-09-16 22:58] #25 closed

[2021-09-16 23:09] OmarMalik commented on #30
Hey Max, I want to make sure I'm understanding this correctly.

Since we are changing the return types of `executeScript `and `executeTransaction `in the `flow-js-testing` library, won't that break any existing code that uses these functions? Not sure how to get around this.

For example, I'm imagining the intended refactor for executeScript is the following:
[code]

Am I on the right track here?

[2021-09-16 23:12] briandilley commented on #20
Hi guys 👋🏼 - I'm one of the authors of the JVM SDK - happy to help answer any questions that anyone might have while implementing a new SDK. As an "outsider" (ie: I don't work at dapper) I may be able to offer a unique perspective.

[2021-09-17 03:20] marisming commented on #15
Your team name with a link to the HackerEarth team
hackerearth.com/challenges/hackathon/flip-fest/dashboard/dc22c4b/team/

Tag all team members with their Github usernames that are working on the project：
https://github.com/cata-network

When you plan on completing the first milestone.
2021.10.10

[2021-09-17 14:18] MaxStalker commented on #30
@OmarMalik that is correct - this will be breaking change if your code previously wasn't using Jest helper methods.

There are 3 ways to go:
- use `fcl.config` param to decide how returned value shall look and whether to catch error or not
- introduce the breaking change with new release and make it clear how developer can refactor it
- mix two aforementioned solutions by introducing new `fcl.conf

[2021-09-17 15:11] nduplessis commented on #20
Hello 👋🏼, I'm building a Ruby SDK called flow_client (https://github.com/glucode/flow_client)

[2021-09-17 18:54] figs999 commented on #16
I have just submitted a flip, completing Milestone 2.

[2021-09-17 19:11] briandilley commented on #16
Team _**[Non Fungibles](https://www.hackerearth.com/challenges/hackathon/flip-fest/dashboard/3744a70/team/)**_ checking in again.

PR for Milestone 1: https://github.com/onflow/flow/pull/636

[2021-09-17 19:35] figs999 commented on #16
FYI, the flip PR is Milestone 2! You guys are further along than you're giving yourself credit for ;)
Looks like you still need to do the Milestone 1 and 2 PRs into this repo, though?

[2021-09-17 19:48] briandilley commented on #16
haha - yeah, I'm getting confused as to what to do.

[2021-09-17 19:49] briandilley commented on #16
Oh, it seems that we've done Milestone #1 a long time ago (before flip-fest was announced really), and our FLIP pretty much covers it too.

[2021-09-17 19:50] bjartek commented on #16
Yeah i think we can just point to the old issue in the nft repo for our milestone 1.

[2021-09-17 20:11] srinjoyc commented on #16
Hey guys, so for the PRs we're hoping to track them all on one repo so to help us out, could you do the following:
- Fork this repo
- Create a branch and PR with a single file called: submissions/issue-16/milestone-1/non-fungibles
- In the file, you can include the same info as the PR description (just copy/paste) - [PR Template]
(https://github.com/onflow/flip-fest/blob/main/pull_request_template

[2021-09-17 21:10] briandilley commented on #16
cool, no problem. Is there a single place where the documentation for all
of this is? I may be contributing to another issue as well.

Here's the PR for the work on #16:
https://github.com/onflow/flip-fest/pull/35

On Fri, Sep 17, 2021 at 1:11 PM srinjoyc ***@***.***> wrote:

[2021-09-17 22:37] amitkothari commented on #23
Hi @10thfloor, I would like to work on this issue and build a dapp example using Svelte. Here is the team's Hacker Earth profile - https://www.hackerearth.com/challenges/hackathon/flip-fest/dashboard/3dca8c7/team/ :)

[2021-09-17 22:44] 10thfloor commented on #23
Excellent! Do you have an idea for  what functionality you might want to include?

[2021-09-17 23:00] amitkothari commented on #23
I am thinking of building a demo app, similar to the other community examples, that will demonstrate how to deploy contracts, integrate wallets, and mint NFTs.

I have few initial ideas, will finalize and post more details soon :)

[2021-09-17 23:28] figs999 commented on #16
Ok, I think I did the Milestone 2 PR wrong before by just pushing to the same PR as Milestone 1...
I just opened a new PR for Milestone 2: https://github.com/onflow/flip-fest/pull/36

[2021-09-18 01:13] eburnette commented on #3
Hello, team Koala will be taking this one on.
https://www.hackerearth.com/challenges/hackathon/flip-fest/dashboard/5801ad5/
@eburnette

[2021-09-18 02:11] eburnette commented on #3
I see a problem with the problem description because it would lead to the language server and emulator being installed twice, once with the extension and once with the cli. It would be unfortunate if you ran something in vscode and it worked, but then you ran it from the cli and it didn't work, because the versions were different. Why not move the language server out of the cli, and have it run cl

[2021-09-18 04:48] hichana commented on #6
Hi @bebner, this issue has two milestones, am I right?

[2021-09-18 12:32] ph0ph0 commented on #5
Hey guys! I'm interested in tackling this issue, it sounds cool! Would be good for me to improve my Flow/Cadence knowledge :grin:

I'm experienced in React, fairly new to Cadence and FCL. I completed the Fast Floward bootcamp and so have completed a project in Cadence using the Decentology DappStarter, so I think I have a reasonable understanding of Cadence.

I haven't completed the CryptoDappy ma

[2021-09-18 13:33] sideninja commented on #3
The proposed architectural change is for the extension to become a minimalistic and light client that is there to only allow interactions with the developers and forward the command to the language server. Langauge server should handle the execution of those commands, which include execution of commands by using an emulator as a dependency (not as a separate process). You can see how that is possi

[2021-09-18 18:32] eburnette commented on #3
Ok, just trying to get the environment set up and I got to the point in the extension contributing doc where it says to do "npm run package". It gives me this error on Windows:

`>npm run package

'.' is not recognized as an internal or external command,
operable program or batch file.`

[2021-09-18 20:40] eburnette commented on #3
I got past that one, and I was getting a lot of errors from tsc. I updated some versions in package.json but still get 15 errors. The first one is:

    node_modules/@types/mocha/index.d.ts:17:15 - error TS2300: Duplicate identifier 'Mocha'.

[2021-09-19 05:45] fee1-dead commented on #20
Hello, I am working on a Rust SDK.

[2021-09-19 06:14] jrkhan commented on #13
Hello!

My team (currently just myself) would be interested in tackling this issue! Writing tests seems to me to be a great way to learn about an API.

Team:
https://www.hackerearth.com/challenges/hackathon/flip-fest/dashboard/f541fdb/team/view/
Members:
@jrkhan
Timeline:
Expect to make steady progress adding tests over the 2-3 weeks.

Initial observations/questions:
Currently, the command layer/i

[2021-09-19 13:59] barekati commented on #20
Hello 👋🏼, we're building a Python SDK for FLOW blockchain.

[2021-09-19 17:25] eburnette commented on #3
I had to make a number of changes to the vscode-cadence extension just to get it to build and debug for me. If you could review and merge those, it would be very helpful. https://github.com/onflow/vscode-cadence/pull/67

[2021-09-20 06:17] hichana commented on #18
[TeamExponential](https://www.hackerearth.com/challenges/hackathon/flip-fest/dashboard/1bbd21d/team/) members:
https://github.com/justjoolz
https://github.com/hichana
We plan on completing first milestone by Thursday of this week if that works @MaxStalker

[2021-09-20 06:33] bebner commented on #5
Hey @ph0ph0, great to hear you're interested - it is definitely a good challenge to improve FCL and Cadence knowledge.

In my view, it is not a necessary precondition to follow the CryptoDappy course beforehand. It is a very basic introduction into FCL and Cadence; but given your prior knowledge, I think you can also save some time and jump right into the finished code.

However, this challenge al

[2021-09-20 06:36] bebner commented on #6
Hey @hichana, thanks for asking. This issue is a week-long challenge, so there will be only one milestone that combines the above requirements. I edited the issue to reflect that in a better way.
Feel free to ping me anytime if you want more information or run into any issues along the way.

[2021-09-20 08:12] ph0ph0 commented on #5
Ok brilliant, looking forward to getting started! I'll take a look at the code later today :thumbsup:

Would it be possible to add me to the "Team(s) Approved" column of the Projects > FLIP Fest Team Progress document please?

Also, where is the best place to contact you with quick questions if I get stuck? On here or on Discord?

Many thanks!

[2021-09-20 09:30] sideninja commented on #13
https://codecov.io/github/onflow/flow-cli/commit/dc04cc327163db18a0705562fdd8dd70b9618522
I would assume we'll also want to track /internal here?
Yes, that is the package that needs testing.

We are using goland with linters, also you should use `make install-linter` and then `make lint` for checking your code.

I think they should be preferred where applicable. I like them, but only for where it

[2021-09-20 10:17] ph0ph0 commented on #5
Hey @bebner, thanks again for our chat on Discord earlier and for sending over all those materials, here are my team details:

Team Name: phillip62_a774
Team Github Usernames: ph0ph0
First Milestone Submission: 3rd of October (will likely be before then)

Thank you!

[2021-09-20 11:20] bartolomej commented on #2
**Team name:** `flippers`
**Team link:** https://www.hackerearth.com/challenges/hackathon/flip-fest/dashboard/fb756cc/team
**Team members:** `bartolomej`, `jgololicic`, `monikaxh`
**Milestones:**
1. Wireframes, list of minimum feature set, list of optional features set, technical architecture overview
2. Dummy UI Implementation
3. Complete functional MVP covering all of the minimum feature set
4.

[2021-09-20 13:40] 10thfloor commented on #23
Great. FCL is not compatible out-of-the-box with svelte-kit.
You'll need to use something like the following configuration: https://codesandbox.io/s/fcl-svelte-wc3wb?file=/Hello.svelte

[2021-09-20 16:13] psiemens commented on #20
Awesome @barekati! Have you seen the Python SDK that @janezpodhostnik started? https://github.com/janezpodhostnik/flow-py-sdk

You can totally contribute to this Python SDK or use it as a starting place. Janez is on the core Flow team and is available to help out 😄

[2021-09-20 16:26] janezpodhostnik commented on #20
Hi @barekati,

Like Peter mentioned, feel free to take anything you need from [flow-py-sdk](https://github.com/janezpodhostnik/flow-py-sdk) or contribute there. I can also help you with anything you need whichever path you choose. You can reach me here or on discord (TheOneSock#1135; JanezP on the Flow discord).

[2021-09-20 22:35] figs999 commented on #16
I just noticed that I am not being tracked in the approved teams of the project. Is there a reason for that ommission?

[2021-09-21 06:33] psiemens commented on #16
Sorry @figs999! You are being tracked there. We don't have separate issues for each team, so you are included on this one.

[2021-09-21 06:41] psiemens commented on #16
Thanks for the great submissions @figs999 and @briandilley. We're going to take a couple days to gather reviews for your FLIPs, but both teams have been approved for milestone 1. 🎉

[2021-09-21 07:33] amitkothari commented on #23
Thanks a lot, I had some issue with Rollup but got Svelte and FCL working with webpack. I will follow this example and get the demo working with Rollup :)

[2021-09-21 12:21] 10thfloor commented on #23
@amitkothari  Actually, I'd suggest sticking with Webpack.

Some others are exploring Svelte as well, and were not able to make the Codesandbox example work without replacing Rollup with Webpack.

[2021-09-21 12:30] amitkothari commented on #23
Thanks @10thfloor , I will continue with webpack then.

I am working on a demo similar to crypto dappy with similar smart contract, authentication, scripts & transactions to interaction with flow blockchain. I will try and get the basic app working soon.

[2021-09-21 14:43] aturX commented on #17
I know the details of Flow and Ceramic. I'm interested in this

[2021-09-21 19:47] 37aces opened #38 "Infrastructure Tool: Branded dollar creation"
**Description/Problem**

People want to buy collectibles but may decide otherwise if they have to pay with the volatile FLOW token. Stablecoins solve this problem but you have to sell FLOW to get stablecoins. $oneFLOW works better than stablecoins by enabling a dollar equivalent balance backed by $FLOW tokens.

ICHI, a Flow partner, will launch Stable Flow ($oneFLOW), a token valued at $1. Stable

[2021-09-22 12:38] dthibeau commented on #38
Check out our Medium introducing ICHI V2 here: https://medium.com/ichifarm/announcing-ichi-v2-d69cebc47d25

At the core its very simple: ICHI deploys a "branded" dollar for any crypto project. The branded dollar is minted and redeemed for exactly $1 in value, and is minted with USDC and FLOW. It provides a seamless experience for users to transact on the network without having to worry about price

[2021-09-22 12:38] dthibeau commented on #38
Myself and @37aces from the ICHI community are happy to answer any questions that may arise.

[2021-09-22 19:26] ic3guy commented on #23
I'm looking into getting an Angular 12 example up and running. I've built off of https://github.com/onflow/fcl-js/issues/506 and I think I've nailed down the issues regarding buffer/process/http/https using a custom webpack config to implement the node polyfills rather than manually doing it in the polyfills.ts file.

[2021-09-22 22:10] amitkothari commented on #23
@ic3guy I am also using custom webpack config for Svelte demo app.

[2021-09-22 22:58] ic3guy commented on #23
This is what I needed to use in Angular

[code]
along with a global window polyfill

`(window as any).global = window;`

[2021-09-23 00:33] chandanworkacct commented on #38
Which stablecoin are you going to use on flow blockchain? USDC or FUSD?

On Wed, Sep 22, 2021 at 5:38 AM dthibeau ***@***.***> wrote:

--
===
Chandan Mishra | twitter: @chandan_at_work
***@***.*** | +1 650.281.8249 <(650)%20281-8249>

[2021-09-23 00:42] dthibeau commented on #38
@chandanworkacct - That would be up to the FLOW community. The ICHI model supports almost any stablecoin type.

[2021-09-23 06:36] louzhixian commented on #28
Hi guys, our team would like to add flow support in our non-custodial smart wallet solution of UniPass.
Team name: Lay2
Team repo: github.com/lay2dev

[2021-09-23 07:33] bluesign commented on #23
If anyone is using svelte / rollup, made a successful rollup config : https://github.com/bluesign/fcl-svelte-rollup/blob/main/rollup.config.js

[2021-09-23 07:48] bluesign commented on #11
I think this would be a great task if it was to convert dev-wallet into a client-side-only app.

- It would be a `tier 3` task. (I think it is pretty easy)
- all API / signing sides can be managed from the front-end too.
- people could just embed dev-wallet easily in dapps ( even conditional builds like: when in not "production mode" )
- when static JS client app, you can bundle and serve from flo

[2021-09-23 14:03] monalisha31 commented on #14
Hello,

I would like to work on this issue. I will be working solo. Following are the required details.
- Team Name- monalisha31
- Team Link- https://www.hackerearth.com/challenges/hackathon/flip-fest/dashboard/db9ee23/team/
- Team member- @monalisha31
- Deadline for first milestone- about 2 weeks

[2021-09-23 14:46] knagato commented on #6
Hi @bebner ,
I'm interested in this issue.

Do you only need to switch the target mdx file according to the selected lang?
Or does other hard-coded text in some js files (such as index.js, header.js etc.) also need to be localized?

[2021-09-23 17:04] 10thfloor commented on #17
@aturX Awesome! Let us know if we can assist with your application to the hackathon, or anything else!

[2021-09-23 17:50] mwufi commented on #27
Hi Gregor! I'm kind of curious about the emulator in general, so happy to take this on!

I made a team for the hackathon named [Team FlashyTigers](https://www.hackerearth.com/challenges/hackathon/flip-fest/dashboard/3e29084/team/), but no one's in the team yet except for me

[2021-09-23 23:24] psiemens commented on #20
Awesome @eulerkochy!

[2021-09-23 23:46] psiemens commented on #26
Hey @HKerStanley, are you working on this issue?

[2021-09-23 23:49] psiemens commented on #27
That's totally ok! You can submit as a solo team if you'd like.

Great to have you working on this. You can ping @sideninja with any questions you have.

@mwufi Do you need any help getting started on the implementation?

[2021-09-23 23:50] psiemens commented on #18
Yep, that works! Just saw your submission :)

[2021-09-24 02:04] lxmbjs commented on #15
Your team name with a link to the HackerEarth team:
Graffle Labs Team - [Link](https://www.hackerearth.com/challenges/hackathon/flip-fest/dashboard/79f7403/team/)

Tag all team members with their Github usernames that are working on the project：
- https://github.com/DCoding64 @DCoding64
- Jesse - (No public github, Noraal | Graffle.io#6353 on Discord)
- https://github.com/lxmbjs @LXMBJS

When you

[2021-09-24 12:15] HKerStanley commented on #26
Yea @psiemens I made little progress on it but currently on pause, was quite busy on my day time job last week

[2021-09-24 12:48] 10thfloor commented on #11
Yes, we could include that as a viable submission as well.

[2021-09-24 12:59] bebner commented on #6
Hi @knagato,

happy to see you're interested! The task here is indeed twofold: the rendering of the correct mdx files and the localisation for the navigation elements you mentioned. The referenced example of Gatsby shows also how both can be achieved.
Cool to see you join FLIP Fest - if you have any questions, do feel free to ping me anytime on Discord (bebner#2025)

[2021-09-24 12:59] 10thfloor commented on #17
https://lists.w3.org/Archives/Public/public-new-work/2021Sep/0000.html

[2021-09-24 13:13] 10thfloor commented on #17
Notably (given many DID methods rely on PoW chains):

"We (W3C) can no longer take a wait-and-see or neutral position on
technologies with egregious energy use. We must instead firmly oppose such
proof-of-work technologies including to the best of our ability blocking
them from being incorporated or enabled (even optionally) by any
specifications we develop. If anything we should pursue the opposi

[2021-09-24 13:34] Evan-Dapplica commented on #20
Hello @psiemens ,

My team has been working on Flow C++ SDK too.

[2021-09-24 13:39] bluesign commented on #11
@10thfloor I made a PoC at http://flow.tymianek.com/demo/

All FCL Wallet features are just static html and js.
( currently requires refresh after first connect, and after actions of adding deleting accounts etc)

Setting up in app with:
[code]

Requires local emulator with :

[code]

I am thinking to add some cookie/localStorage for settings, and then host on some public URL.

[2021-09-24 16:01] 10thfloor commented on #11
Sweet.
Now let's add to the _emulator_, and serve it up on another port when the emulator is started?

[2021-09-24 16:35] imrubbish commented on #19
Hi~
1、My team's name is xiaolaohu. Hackerearth   address:https://www.hackerearth.com/zh/challenges/hackathon/flip-fest/dashboard/aeb9fc3/team/
2、github username:  imrubbish
3、plan time: 2021-10-10

[2021-09-24 16:41] mwufi commented on #27
@psiemens sure! i'm just getting started on it now and will ping you/@sideninja on the Discord!!

[2021-09-24 16:44] MaxStalker commented on #19
Awesome, @imrubbish ! :)
Looking forward to your submission!

[2021-09-25 02:16] mwufi commented on #27
Hey! I've taken a first stab at this here (https://github.com/onflow/flow-go/pull/1353), by including the NFT contracts!

Does this look like a good approach?

(the flow-emulator change is rather small https://github.com/onflow/flow-emulator/pull/86)

[2021-09-25 02:36] mwufi commented on #17
@10thfloor this is..... kind of interesting. I'm not sure I get it yet... what do people use DIDs for currently? The W3C doc did list a few but I'm not sure why it's not... more common, I guess?

[2021-09-25 02:50] mwufi commented on #17
Huh... so I guess it's like an address/wallet, but a bit more flexible?

![image](https://user-images.githubusercontent.com/30219253/134755437-7cdfee58-d2aa-4877-abcb-af638239f01f.png)

[2021-09-25 02:52] mwufi commented on #17
Are the contents & capabilities of the DID document wide open, as a matter of standard? It seems like there's a lot of ways to implement DID?

[2021-09-25 03:33] prpatel05 commented on #15
Milestone 1 PR - https://github.com/onflow/flip-fest/pull/45

[2021-09-25 12:07] bluesign commented on #11
Yeah I need to make it a bit more maintainable, maybe some webpack rules etc. But should be easy. This is just a PoC actually I made in an hour.

BTW is there a specific reason for another port? We can also bind to 8080 also probably with some path ( /wallet etc )

[2021-09-25 15:11] 10thfloor commented on #17
It's my understanding that DIDs are a way to attach authentication and other metadata to a set of public/private keys. The primary motivation being the proliferation of systems (such as blockchains) that identify individual accounts in such a way.
The spec isn't limited to keypairs, but this is afaik the most common use-case.
What a DID should allow is to make a keypair-identity _interoperable_ an

[2021-09-25 15:16] 10thfloor commented on #11
Fair enough. A new port will help distinguish that it is a separate service, and not part of the 'emulator api'.

[2021-09-25 15:18] bluesign commented on #11
This is good point, different port would be better for sure

[2021-09-25 18:08] mwufi commented on #17
That's fascinating... there's a response to those claims [later in the thread](https://lists.w3.org/Archives/Public/public-new-work/2021Sep/0002.html), which advances the idea that a diversity of standards for DIDs is generally helpful, since there's a lot of use cases we probably haven't imagined yet.

As to your question of whether to *abandon* this spec, I guess we should consider the question

[2021-09-25 21:03] mwufi commented on #17
Ah... this link is super insightful (the W3C DID registry of all the stuff... I like the Tezos and Sol DID specs) https://www.w3.org/TR/did-spec-registries/#did-methods

[2021-09-26 02:50] zikunfan commented on #16
Crust Pinner Team here.
https://www.hackerearth.com/challenges/hackathon/flip-fest/dashboard/dbc0820/team/view/

Team name is: Crust Pinner
Will working on NFT Decentralized Storage.

[2021-09-26 12:43] karanysingh commented on #6
Hi @bebner , I'm interested to work on this.

I am experienced with ReactJs but new to gatsby. I can start working if you just point me to some resources.

[2021-09-26 13:25] avcdsld commented on #6
Hi @bebner , I'm interested in CryptoDappy's i18n, and can translate it into Japanese.

Question: Is it not enough to prepare the translation result for a specific language to be eligible for the prize?
I can create a language switching function, but I am concerned that it will duplicate work with other participants.

[2021-09-26 14:45] avcdsld commented on #12
Hi
1. My team's name is avcd. Hackerearth address: https://www.hackerearth.com/challenges/hackathon/flip-fest/dashboard/3dde2f4/team/
2. github username: `avcdsld`
3. plan time: 2021-09-26

[2021-09-26 15:14] avcdsld commented on #12
Hi @sideninja
I have created a PR for this issue, can you please check it? Please let me know if any corrections need to be made.
I am glad to have had this opportunity.

[2021-09-26 16:00] cool-pants commented on #5
Hey guys we would like to work on this issue as well. We have worked on react to develop similar marketplace apps but found flow really cool and would like to expand our knowledge on the same. ☺️ :
Team name: TheBlockBlokes
Team members:
  @cool-pants
  @karanysingh

First Milestone Submission: 4-5 October (tentatively, may even be before that)

[2021-09-26 16:27] eburnette commented on #14
Do you think the best approach is to add the feature to the cobra CLI library?

[2021-09-26 16:31] eburnette commented on #31
The example scaffold link in the OP is broken.

[2021-09-26 16:37] eburnette commented on #8
Can this be done completely through cobra?

[2021-09-27 03:03] jrkhan commented on #13
Hello @sideninja

Wanted to run some work in progress by you:
https://github.com/jrkhan-bot/flow-cli/pull/2/files

Before each test (i.e. from TestMain) we spin up the emulator, then each test will run one or more commands from within the test process itself.
(This is somewhat similar to how Cobra tests commands: https://github.com/spf13/cobra/blob/master/command_test.go#L45)
So far, we're just ch

[2021-09-27 13:41] srinjoyc opened #46 "Improve Existing SDK: Python"
## Description (Problem Statement)
​
This issue is relevant if you wish to continue the work on https://github.com/janezpodhostnik/flow-py-sdk. If you wish to create a new python SDK, [this](https://github.com/onflow/flip-fest/issues/20) is the right issue for you.
​
Currently, the flow python SDK is not yet in a release-worthy condition. A significant amount of work has already been done:
​
- Cad

[2021-09-27 15:34] bebner commented on #6
Hi @karanysingh, cool, happy to have you on board 👋  I think if you have experience in React, Gatsby will be easy for you to master. Their [tutorials](https://www.gatsbyjs.com/docs/tutorial/), especially the quick start, give a good overview of the topic. For this issue, I think the [example of using I18n in Gatsby](https://github.com/gatsbyjs/gatsby/tree/master/examples/using-i18n) is highly bene

[2021-09-27 15:36] bebner commented on #6
Hi @avcdsld, thanks for your interest. The challenge for this buildathon does include the implementation of an I18n solution. However, you can definitely contribute directly on the repository by providing Japanese translations, I think the community would really like that - we already have a Vietnamese version finished, and a Chinese version is in the making. However, for this buildathon you would

[2021-09-27 15:37] bebner commented on #5
Hi @cool-pants, nice, happy to welcome you to the Flow buildathon! 👋

[2021-09-27 15:43] janezpodhostnik commented on #46
Hi to anyone checking out this issue 👋 !

I'm an engineer from the Flow team. I work with the Flow virtual machine (FVM) and I also started the flow-py-sdk.

Feel free to contact me for any questions, comments or advice about this issue.

You can reach me here or on discord (TheOneSock#1135 JanezP on the flow discord).

[2021-09-27 15:45] kirtilodha commented on #26
I want to work on this issue.
HackerEarth team name- kirtilodha0_30ae

[2021-09-28 08:43] sideninja commented on #27
Hi, @mwufi as quickly discussed on Discord I would suggest you move all the bootstrap contract code from FVM to the emulator as these contracts are specific to the emulator use and not generic to all other networks. You could create a bootstrap procedure in the emulator to achieve this. But anyhow great work so far.

[2021-09-28 08:45] sideninja commented on #26
@kirtilodha that's great, let me know if you will have any questions.

[2021-09-28 08:53] sideninja commented on #14
Cobra has a way to modify and create templates, so that is probably a good way to start.

[2021-09-28 09:18] sideninja commented on #13
Hi @jrkhan,
thank you for your work on this.

Let me explain how I see this could be tested. I would start by isolating different parts of this layer and unit test those parts as much as possible.

**Testing results**
Let me give you an example for blocks, I would take the [block result](https://github.com/onflow/flow-cli/blob/master/internal/blocks/blocks.go#L45) and then construct it in test wit

[2021-09-28 14:36] barekati commented on #46
So far
We added some definition to some function in client class.
Add block, account key and event example
Adding a new method, from_seed, to AccountKey class
Add a generating key docs

[2021-09-28 18:23] psiemens commented on #16
Hey everybody! I'd like to introduce you to [Glenn Brown](https://www.linkedin.com/in/gotisbrown/) (@gotisbrown) -- he's an advisor for the Flow ecosystem looking into how the new metadata standard can be adopted by projects across Flow. Glenn used to be CEO of Creative Commons and has done a lot of standards work in the past. 😄

We'd love to set up time for each team to chat with Glenn about thei

[2021-09-29 09:25] sideninja commented on #12
@avcdsld Your PR has been accepted and merged, since this was a task that has obvious correct implementation it has been merged.

[2021-09-29 11:55] knagato commented on #6
@bebner
Thanks for your reply!
I'd like to work on this issue as below:

--
Your team name with a link to the HackerEarth team
nagato1_c511
https://www.hackerearth.com/challenges/hackathon/flip-fest/dashboard/c511683/team/

Tag all team members with their Github usernames that are working on the project：
@knagato
@avcdsld
@wshino

When you plan on completing the first milestone.
2021.10.03

[2021-09-29 16:27] avcdsld commented on #24
@gregsantos Hi. I'm interested in this issue and also want this feature myself.

Is there a specification written somewhere that calculates the txId from the voucher or the information contained therein? I would like to know if there is any reference to it. Either in code or documentation.

Also, I would like to know how to receive the voucher in fcl middleware. Can I receive it from the results o

[2021-09-29 17:31] gregsantos commented on #24
That's great to hear @avcdsld !
There is no spec or documentation currently as the feature does not yet exist in the JS sdk
You might find [this useful from the Flow GO SDK](https://github.com/onflow/flow-go-sdk/blob/d794a2c5a92cf2f698cdb2d76989bb3eef4adb7c/transaction.go#L119)

You can find the `voucher` [here](https://github.com/onflow/fcl-js/blob/e2f6d98b9f622b3e7aeee2efbc15da1e5d7d4022/package

[2021-09-29 19:28] bartolomej commented on #21
Hey, we would like to work on this task!

Our team github handles:
- [`jakic12`](https://github.com/jakic12)
- [`bartolomej`](https://github.com/bartolomej)

Our hackerearth team profile:
https://www.hackerearth.com/challenges/hackathon/flip-fest/dashboard/d28305a/team/

[2021-09-29 19:58] mwufi commented on #27
OMG! almost there!

![image](https://user-images.githubusercontent.com/30219253/135339652-b27ae0e0-a59c-43c3-95bf-e3a990a70c17.png)

[2021-09-29 19:59] Somil-Gupta commented on #26
Hi @sideninja,
I want to work on this issue.
Team- https://www.hackerearth.com/challenges/hackathon/flip-fest/dashboard/ef69f5d/team/

[2021-09-29 20:41] MaxStalker commented on #21
That's great news, @bartolomej !
Looking forward to your submission :)

[2021-09-30 08:39] gauravmarwal commented on #26
Hi @sideninja,
We want to work on this issue.
Team: https://www.hackerearth.com/challenges/hackathon/flip-fest/dashboard/92618d6/
Member: @1967coder @Anuj123verma @Hit26 @gauravmarwal

[2021-09-30 08:41] gauravmarwal commented on #8
Hi @sideninja,
We want to work on this issue.
Team: https://www.hackerearth.com/challenges/hackathon/flip-fest/dashboard/92618d6/
Member: @1967coder @Anuj123verma @Hit26 @gauravmarwal

[2021-09-30 20:44] mwufi commented on #27
Hm... does anyone want to review the change in `flow-emulator`? Could be fun!

[2021-09-30 20:59] mwufi commented on #17
@10thfloor Maybe I can officially work on this?

Team FlashyTigers, consisting of me (currently)

It might be interesting to make an extensible registrar (like ENS or [Solana Naming Service](https://solana.blog/bonfidas-solana-naming-service-launches-sol-domains/)), which would issue both human-readable and address-type names. These documents would be stored on Flow, but there would ALSO be a way

[2021-09-30 22:21] brunogonzales commented on #5
Hey guys we would like to work on this issue with Vue.
Team Name: [SpCm](https://www.hackerearth.com/challenges/hackathon/flip-fest/dashboard/7cb4b43/team/view/)
Team members:@pepagodx, @juonx477 and myself.
First Milestone Submission: 4 October.

[2021-10-01 03:14] 10thfloor commented on #17
@mwfui Certainly!

[2021-10-01 04:50] 10thfloor commented on #17
@mwufi This might be interesting http://everytimezone.com/s/fee1ee08

[2021-10-01 13:50] tyronbrand commented on #20
Hey @psiemens,

I will build the .NET(C#) SDK

Team Name - [.NET(C#) SDK](https://www.hackerearth.com/challenges/hackathon/flip-fest/dashboard/b149f1d/team/)

[2021-10-01 14:12] avcdsld commented on #24
@gregsantos Thanks for the info! I'm checking the code now and trying to figure out where to change it. (And if this is implementable for me)

I found that the middleware can be implemented by adding the following files, is this the right approach?

[code]

If I write the code like below, I can receive `ix`, and it looks like it contains the information needed to calculate txId.

[code]

However,

[2021-10-01 18:51] bebner commented on #6
Perfect, great to have you on board!

[2021-10-01 18:52] bebner commented on #5
Hi @brunogonzales, great that you're on it & looking forward to a Vue-based solution!

[2021-10-01 19:22] mujtaba1747 commented on #8
Hi @srinjoyc
We want to work on this issue
Team: https://www.hackerearth.com/challenges/hackathon/flip-fest/dashboard/27ca50a/team/view/
Members: @mujtaba1747 @vedantatrivedi @jinit24

[2021-10-01 19:53] mujtaba1747 commented on #14
Hi @sideninja
We want to work on this issue
Team: https://www.hackerearth.com/challenges/hackathon/flip-fest/dashboard/27ca50a/team/view/
Members: @mujtaba1747 @vedantatrivedi @jinit24

[2021-10-01 19:58] mujtaba1747 commented on #26
Hi @sideninja
We want to work on this issue
Team: https://www.hackerearth.com/challenges/hackathon/flip-fest/dashboard/27ca50a/team/view/
Members: @mujtaba1747 @vedantatrivedi @jinit24

[2021-10-01 20:03] mujtaba1747 commented on #31
Hi @10thfloor
We want to work on this issue
Team: https://www.hackerearth.com/challenges/hackathon/flip-fest/dashboard/27ca50a/team/view/
Members: @mujtaba1747 @vedantatrivedi @jinit24

[2021-10-02 00:04] nichandy commented on #20
Hi everyone,

I'm planning on contributing to the python sdk created by @janezpodhostnik (https://github.com/janezpodhostnik/flow-py-sdk).

Team name: nkeebs
Team page: https://www.hackerearth.com/challenges/hackathon/flip-fest/dashboard/5239d3d/team/

Github: @nichandy

[2021-10-02 07:50] knagato commented on #6
Our team is almost done with the implementation of the translation feature.

Does this mean we need JavaScript test code?
(It seems the original repository doesn't include a testing framework).

[2021-10-02 15:36] barekati commented on #46
in second pull
clients function definitions are completed.
script and transaction example are added.
building example, performing script, querying event, retrieving block, retrieving  collection doc are added

[2021-10-03 04:12] avcdsld commented on #24
As I looked at the code, I realized that the information needed to calculate the txId, such as signature, is not revealed after `build`, but after `resolve`.
My understanding is that I need to prepare the following two files.

[code]

I am working on this approach. Any comments would be appreciated.

[2021-10-03 06:04] avcdsld commented on #24
1. Team: https://www.hackerearth.com/challenges/hackathon/flip-fest/dashboard/c511683/team/
2. @avcdsld (There are three of us on the team, but I'm the only one working on this issue.)
3. plan time: 2021-10-10 (PR creation)

[2021-10-03 10:49] bluesign commented on #22
Hey @sideninja ,

I would love to have this feature. I like the snapshot concept, but what would you think to extend this task a bit more to instead emulator to expose subset of git functionality, it would provide a git compatibility layer on storage.

When new block committed, commit to git state and use Block information, transaction status / events etc as git commit message.

Git is already pro

[2021-10-03 14:09] psiemens commented on #31
@eburnette Thanks, it should work now

[2021-10-03 14:10] psiemens commented on #20
That's great @tyronbrand! I'll connect you with some developers who have used C# with Flow before.

[2021-10-03 14:10] psiemens commented on #20
Thanks for signing up, @nichandy!

[2021-10-03 14:16] psiemens commented on #8
Thanks for signing up, @gauravmarwal and @mujtaba1747!

For tier 3 tasks, you can get started right away 😄

[2021-10-03 14:16] psiemens commented on #14
Hey @mujtaba1747, that's great!

For tier 3 tasks, you can get started right away.

[2021-10-03 14:19] psiemens commented on #27
🎉 We'll be reviewing shortly!

[2021-10-03 14:21] psiemens commented on #24
Looking forward to it @avcdsld!

[2021-10-03 15:32] eburnette commented on #19
@imrubbish I assume you're going to be using the language server process just like the vscode extension does? I don't know how IntelliJ extensions work, but are you bundling the flow command with your extension, or the languageserver command?

[2021-10-04 00:56] hichana commented on #29
@MaxStalker I'm going to have a go at this task as a solo team.

My GH profile: https://github.com/hichana

Should I make a separate HackerEarth team? I'm not sure if that's possible as I've already created Team Exponential where I've invited another community member (j00lz).

[2021-10-04 03:34] avcdsld commented on #24
@gregsantos
It looks like fcl-js already includes the ability to encode transactions.
https://github.com/onflow/fcl-js/blob/79a76c/packages/sdk/src/encode/encode.js

However, the result is different from the encoded result of flow-go-sdk. Why is this?
(For example, with or without the tag (`"FLOW-V0.0-transaction"`) and with or without `envelopeSigs`)

I am wondering if I should change this existi

[2021-10-04 12:00] sideninja commented on #22
That's a very interesting idea.
Git could be even used as a go module in the emulator to provide this functionality.
It's a bit funny because the ledger itself has all the history but the storage layer doesn't provide an easy API for this so it probably makes sense to have this kind of "layer 2" solution.

[2021-10-04 17:47] bebner commented on #6
Hey @knagato, a basic testing scenario would be great, yes - feel free to fall back on the tool of your choice.

[2021-10-04 18:13] JeffreyDoyle opened #53 "Implement FCL `WalletUtils.ready()`"
## Overview

Often times, browser-wallets will send an "I'm ready now" message to FCL like:

[code]

This handshake should be simplified into a single function like:

[code]

Of which would implement sending the handshake messages, and invoke the callback passed into it once it receives the handshake response from FCL.

## Expected Outcomes

- [ ] A Wallet Utility function, such as `fcl.WalletUtil

[2021-10-04 18:14] #53 closed

[2021-10-04 23:06] avcdsld commented on #24
Thank you. Very useful advice! 😆

[2021-10-05 13:54] bluesign commented on #22
yeah I first tried on ledger side, but branching is a big problem there, moving on a single like is easy, when you try to branch things are getting a bit complicated.

But with git module it is almost supporting every git operation + cli can translate cli command to git commands too. Also log is pretty nice.

[2021-10-05 14:45] MaxStalker commented on #29
Probably, would be better if you can create another team - for proper `billing` and booking.
Sorry for inconvenience.

[2021-10-05 14:47] 10thfloor commented on #29
So stoked for this. Now, if we could have it in the emulator!

[2021-10-05 14:51] bluesign commented on #29
@10thfloor you can even have with full change history in emulator.

[2021-10-05 14:59] bluesign commented on #22
Team: https://www.hackerearth.com/challenges/hackathon/flip-fest/dashboard/3744a70/team/
@bluesign (Tackling solo)
plan time: 2021-10-17

So I will work on this one, I would like to integrate also with https://github.com/onflow/cadence/issues/1160 so we can have a command to use in testing to load, save and switch to some snapshot.

[2021-10-05 15:51] janezpodhostnik commented on #20
Hi @nichandy,

Thank you for signing up! Head over to [this issue](https://github.com/onflow/flip-fest/issues/46) to get a more detailed description of the work needed there. Feel free to work on it, however, please note that due to the straightforward nature of the issue, the earliest submission will get priority for rewards if solutions are similar. @barekati has already started working on it.

[2021-10-06 07:22] hichana commented on #29
@MaxStalker no problem. I've used my other email address to sign up and register for the flip fest on hacker earth. Team is here: https://www.hackerearth.com/challenges/hackathon/flip-fest/dashboard/ae2cb67/team/

I'll edit my original comment in this thread with that link as well.

[2021-10-06 17:16] psiemens commented on #29
@hichana Whoops, sorry! Didn't mean to close this 😓

[2021-10-06 17:19] psiemens commented on #11
@bluesign Nice! Moving this to approved :)

[2021-10-07 17:13] zeke13210 commented on #38
Looking to tackle this issue with my team @dthibeau  and @37aces https://www.hackerearth.com/challenges/hackathon/flip-fest/dashboard/368dd7e/team/. I'm not sure how to pull my team members GitHub information from HackerEarth but I want to make sure my interest was expressed

[2021-10-08 05:36] psiemens commented on #31
Sure thing @flyinglimao, that works!

[2021-10-08 06:20] psiemens opened #58 "Playground: Fix client-side errors in the playground frontend"
## Description (Problem Statement)

The Flow Playground frontend app throws a number of console errors in product. Those errors shouldn't be there.

Each error is documented in an issue:
- https://github.com/onflow/flow-playground/issues/163
- https://github.com/onflow/flow-playground/issues/164
- https://github.com/onflow/flow-playground/issues/165
- https://github.com/onflow/flow-playground/issu

[2021-10-08 06:30] psiemens commented on #58
Sounds good, thanks @hichana!

[2021-10-09 22:20] mlusiak commented on #20
Hi, I'd love to help/contribute/build things around C# SDK. I saw there was already one project on Github, and also some team submission here. I'd rather co-op on a project than compete. How do I join?

[2021-10-10 17:39] njuyuanrui commented on #16
Hello~ First of all, sorry that the previous registration seems to have failed :(
But we have been working on it until now~~
Our milestone 1 is [here](https://github.com/onflow/flip-fest/pull/61)

We introduced some design points about metadata standards which might provide some help for the construction and optimization of other solutions. And we also gave our initial solution here.

We welcome y

[2021-10-10 22:45] molekilla commented on #17
team ifesa can  help,  I need eip1812 in flow, https://ifesa.medium.com/did-nft-metadata-ownership-c0c30669d393

[2021-10-12 05:57] ic3guy commented on #23
I'm not sure if I'll have a full fledged Crypto Dappy example working, but I am working on an Angular 12 example as well.

Right now I am working on encapsulating the FCL api and exposing more Angular-y (rxjs based) endpoints.

Team Name: [Will's Team](https://www.hackerearth.com/challenges/hackathon/flip-fest/dashboard/7323e2b/team/view/)
Team Members: @ic3guy
Timeline: I'm not sure if I'll actua

[2021-10-13 17:12] mwufi commented on #17
So I'm not sure if I can actually use Ceramic with Flow... it seems like the implementation of Ceramic rn is built on the idea of verifying signatures in _this particular way_ (so you'd have to decrypt something to verify your identity)

![image](https://user-images.githubusercontent.com/30219253/137180763-18bd7087-f0f2-4dd0-b1be-5bb67f1a1433.png)

someone please correct me if this is wrong!!!!

[2021-10-13 19:29] bluesign commented on #17
I was just reading on this, I think this one can fit somehow to integration with flow.

https://github.com/ceramicnetwork/CIP/blob/main/CIPs/CIP-79/CIP-79.md

[2021-10-13 20:02] MaxStalker commented on #30
Hey, @OmarMalik are you still working on this issue? :)

[2021-10-15 14:26] NguyenIvan commented on #5
Thank you @bebner! Do I need to check the FLIP Fest Team Progress boards for any extra information?

[2021-10-15 18:15] NikitasKotsolakos commented on #19
Hello @MaxStalker ,

For block comments I will check it, support was for sure working maybe I broke it by accident. I will ensure it works, as anyway I have already made a few more fixes of small things needed.

For themes I will look into it, although, since we use "standard intellij highlighting" (basically I tell it this is a keyword and intellij selects the colour) I would expect it to work im

[2021-10-15 22:30] mlusiak commented on #20
@sideninja I'm in touch with @tyronbrand :) Will contribute to his work!

[2021-10-18 15:45] mwufi commented on #38
Q: About the strategies part...how would ICHI treasury work if there's not significant deFi on Flow? Would there be no strategies at the moment? (But maybe some in the future?)

[2021-10-18 16:27] bluesign commented on #22
I managed to finish first part: integrating git to emulator, committing to git on transaction executions etc.

But stuck with integrating into cadence ( as discussed in  onflow/cadence#1160 )

Actually I managed to integrate by creating a new`ScriptInvocator` and replacing vm's `ScriptProcessors`.  ( Technically switching state in transaction would not be possible anyway )

So far I manage to crea

[2021-10-19 05:44] NikitasKotsolakos commented on #19
Hello @MaxStalker
I have:
- Fixed the block comments issue
- Split the code more properly in packages to make more sense
- Improve some other things on the recognition
- Tested that it properly supports `themes` (`Settings` -> `Editor` -> `Color Scheme`)
- Expanded the plugin color settings page and documented it in the README
- Improved the README of the plugin and it's marketplace information
-

[2021-10-19 05:56] MaxStalker commented on #19
Thank you for your commitment, @NikitasKotsolakos !
I will give it a try and get back to you asap ;)

[2021-10-19 21:06] 10thfloor commented on #23
@ic3guy Any updates this week?

[2021-10-20 15:57] mwufi commented on #17
oh! not so much, but i'm contemplating doing it all on flow! the document would only require storing a few keys/signatures (like Ceramic), but `resolve` would expand that out into JSON. maybe this weekend

[2021-10-24 02:33] hichana commented on #21
@bartolomej are you and your team still planning on to work/complete this FLIP issue? If not, and if it's ok with @MaxStalker would it be possible for me to take it on with @j00lz?

[2021-10-24 02:34] hichana commented on #30
@OmarMalik if you are still working on this FLIP issue, can you let us know? If not, and if ok with @MaxStalker I'm hoping to do this one or another FLIP in the time that remains with @j00lz. Thanks

[2021-10-29 19:54] kerrywei commented on #46
update:
feedback provided. really good progress so far!

[2021-10-29 22:11] chriswayoub commented on #15
Your team name with a link to the HackerEarth team
https://www.hackerearth.com/challenges/hackathon/flip-fest/dashboard/dad2979/team/

Tag all team members with their Github usernames that are working on the project
https://github.com/chriswayoub @chriswayoub

When you plan on completing the first milestone.
10/29/2021

[2021-10-30 18:24] soetop commented on #21
Thanks @MaxStalker for your helpful inputs. I am wrapping up to submit milestone #2 before the deadline.

I have 3 questions as I am fixing loose ends and refactoring/cleaning code.
#1 is it ok to continue submitting fixes after the deadline passes? I have seen in the announcement that we can continue to do for 1 more week.
#2 there are breaking changes as we transition from 1-1 mapping to 1-many

[2021-10-30 22:15] ayaahm opened #111 "closed"
None

[2021-10-31 00:12] eburnette commented on #3
I'm getting a null pointer crash in the languageserver in state.go because p.readerWriter is nil, is this a known problem?
[code]

[2021-10-31 01:04] NikitasKotsolakos commented on #19
Hi @MaxStalker ,

It took  me a bit longer as I was fighting several small issues, but in the end I have submitted the (last moment) PR, with the semantic analysis and error checking. I only created one PR for the 3 remaining milestones, as milestones 3 and 4 (compatibility and publishing) were "simpler" and already achieved before, and thought it will be easier on your side to review all together

[2021-10-31 02:19] eburnette commented on #3
I'm sorry, but I just ran out of time on this one due to work projects. I got the cli dependency out, and the language server maintains the emulator state, but the log is not streamed, the server isn't bundled or installed (just hard-coded right now), and the emulator is started with a command, not flowkit.

[2021-10-31 13:41] louzhixian commented on #28
Hey @srinjoyc, our PR for M1 opened: https://github.com/onflow/flip-fest/pull/116

[2021-10-31 15:30] #111 closed

[2021-10-31 19:22] mwufi commented on #17
Wow, looks good

![image](https://user-images.githubusercontent.com/30219253/139598318-44376055-94ee-4ebf-a1ba-77f5e9fa58a9.png)

behind the scenes, this turns into `did:flow:0xe64d0c52f286f42622abbeba9fe179dff0b99c40535b1910124b9227d2ccd785`

[2021-11-02 09:09] sideninja commented on #3
No worries, I understand. You are still welcome to keep on working on this, also there are some participation awards to which you might be eligible.

[2021-11-03 16:58] MaxStalker commented on #19
Hey, @NikitasKotsolakos 0/
Can you tell me what I shall do in order to make semantic checks work?
Plugin on my side is constantly fails to launch language server :\

Also, can you post a link to plugin repository?

[2021-11-04 16:23] kerrywei commented on #21
Hey @soetop ,
1. As long as a PR is submitted on/before Oct 30, you have up to end of the day of Nov 7 to continue work on it and receive feedback from us
2. could you clarify a bit what you mean by breaking changes? we should not break any existing functionalities. this issue should aim to add additional functionalities (i.e. allow multiple contract interaction under one account) rather than depr

[2021-11-04 21:42] 10thfloor commented on #10
@wfalcon0x Thanks for your message, sorry about not getting back to you sooner.
I think using hardcoding values will be sufficient in this case, and user friendly descriptions are not necessary either.

For wireframes, you can just take screenshots and add them to this thread. If you have links to public content (code ..etc) you can share, you can post them here too.

[2021-11-04 21:57] MaxStalker commented on #21
@soetop
2. Can you clarify which irrelevant code you are
3. Test coverage for new functionality would be cool, yeah :)

As for migration, we haven't included it in requirements, but we would appreciate if you include it in solution 🙇

[2021-11-04 22:27] MaxStalker commented on #30
おめでとう, @hichana ！=^____^=
🎉 **Milestone Achieved** 🎉

[2021-11-05 21:52] MaxStalker commented on #30
🎉 **Milestone Achieved!** 🎉

Thank you for your submission and participation!

[2021-11-05 21:59] MaxStalker commented on #18
All  🎉 🎉 🎉 🎉  milestones were reached byTeamExponential!

Great work @hichana and @justjoolz!
I hope we will be able to collaborate more in the future 🙇

[2021-11-05 22:03] hichana commented on #18
Same here, thanks @MaxStalker!!!

[2021-11-05 22:05] hichana commented on #30
Cheers @MaxStalker :)

[2021-11-06 05:05] soetop commented on #21
thanks @MaxStalker and @kerrywei for clarifications.

2. two changes are introduced
    - routing (mainly frontend)
    - one-to-many mapping between an account and contracts
However, no existing features were deprecated.
The backend could be maintained so that it works with the current frontend and the new frontend.

 3. yes, i will add test coverage.

 Migration could help with porting over old

[2021-11-06 21:25] MaxStalker commented on #58
Congrats, @hichana on finishing work for this issue! 🎉
Much appreciated 🙇

[2021-11-06 21:36] MaxStalker commented on #29
All 🎉 🎉 🎉 milestones has been achieved!
Congratulations! :)
Thank you for this valuable submission, @hichana ! 🙇

[2021-11-12 23:39] kimcodeashian commented on #18
Good day Team Exponential (@hichana, @justjoolz)

Thanks so much for all your hardwork & participation. In order to finalize winners & prepare for prize payout, we'll need the following actions from your end.

Please provide the following information by **Nov 17, 2021** (in this GH Issue is fine):

**1. Team Information**
  - Team Members Information - Github Username + Email Contact + Percentage

[2021-11-12 23:41] kimcodeashian commented on #29
Good day @hichana!

Thanks so much for all your hardwork & participation. In order to finalize winners & prepare for prize payout, we'll need the following actions from your end.

Please provide the following information by **Nov 17, 2021** (in this GH Issue is fine):

**1. Team Information**
  - Team Members Information - Github Username + Email Contact + Percentage of prize allocation (total sho

[2021-11-12 23:44] kimcodeashian commented on #10
Good day Dev Wallet OIDC (@wfalcon0x)

Thanks so much for all your hardwork & participation. In order to finalize winners & prepare for prize payout, we'll need the following actions from your end.

Please provide the following information by **Nov 17, 2021** (in this GH Issue is fine):

**1. Team Information**
  - Team Members Information - Github Username + Email Contact + Percentage of prize al

[2021-11-12 23:45] kimcodeashian commented on #11
Good day @bluesign!

Thanks so much for all your hardwork & participation. In order to finalize winners & prepare for prize payout, we'll need the following actions from your end.

Please provide the following information by **Nov 17, 2021**,  (in this GH Issue is fine):

**1. Team Information**
  - Team Members Information - Github Username + Email Contact + Percentage of prize allocation (total

[2021-11-12 23:47] kimcodeashian commented on #12
Good day @avcdsld!

Thanks so much for all your hardwork & participation. In order to finalize winners & prepare for prize payout, we'll need the following actions from your end.

Please provide the following information by **Nov 17, 2021**,  (in this GH Issue is fine):

**1. Team Information**
  - Team Members Information - Github Username + Email Contact + Percentage of prize allocation (total s

[2021-11-12 23:48] kimcodeashian commented on #15
Good day @prpatel05, @chriswayoub!

Thanks so much for all your hardwork & participation. In order to finalize winners & prepare for prize payout, we'll need the following actions from your end.

Please provide the following information by **Nov 17, 2021**,  (in this GH Issue is fine):

**1. Team Information**
  - Team Members Information - Github Username + Email Contact + Percentage of prize all

[2021-11-12 23:52] kimcodeashian commented on #19
Good day @NikitasKotsolakos !

Thanks so much for all your hardwork & participation. In order to finalize winners & prepare for prize payout, we'll need the following actions from your end.

Please provide the following information by **Nov 17, 2021**,  (in this GH Issue is fine):

**1. Team Information**
  - Team Members Information - Github Username + Email Contact + Percentage of prize allocati

[2021-11-12 23:52] kimcodeashian commented on #2
Good day @bartolomej!

Thanks so much for all your hardwork & participation. In order to finalize winners & prepare for prize payout, we'll need the following actions from your end.

Please provide the following information by **Nov 17, 2021**,  (in this GH Issue is fine):

**1. Team Information**
  - Team Members Information - Github Username + Email Contact + Percentage of prize allocation (tota

[2021-11-12 23:53] prpatel05 commented on #15
1. Team Information
* Team Members Information - [prpatel05](https://github.com/prpatel05) + prpatel05@gmail.com + 100%
2. Video Demo (optional)
* ECD 2021-11-16, ill edit this post with the video

[2021-11-12 23:54] kimcodeashian commented on #21
Good day @soetop, @bartolomej!

Thanks so much for all your hardwork & participation. In order to finalize winners & prepare for prize payout, we'll need the following actions from your end.

Please provide the following information by **Nov 17, 2021**,  (in this GH Issue is fine):

**1. Team Information**
  - Team Members Information - Github Username + Email Contact + Percentage of prize allocat

[2021-11-12 23:54] kimcodeashian commented on #22
Good day @bluesign!

Thanks so much for all your hardwork & participation. In order to finalize winners & prepare for prize payout, we'll need the following actions from your end.

Please provide the following information by **Nov 17, 2021**,  (in this GH Issue is fine):

**1. Team Information**
  - Team Members Information - Github Username + Email Contact + Percentage of prize allocation (total

[2021-11-12 23:55] kimcodeashian commented on #23
Good day @amitkothari, @ic3guy!

Thanks so much for all your hardwork & participation. In order to finalize winners & prepare for prize payout, we'll need the following actions from your end.

Please provide the following information by **Nov 17, 2021**,  (in this GH Issue is fine):

**1. Team Information**
  - Team Members Information - Github Username + Email Contact + Percentage of prize alloca

[2021-11-12 23:55] kimcodeashian commented on #24
Good day @avcdsld!

Thanks so much for all your hardwork & participation. In order to finalize winners & prepare for prize payout, we'll need the following actions from your end.

Please provide the following information by **Nov 17, 2021**,  (in this GH Issue is fine):

**1. Team Information**
  - Team Members Information - Github Username + Email Contact + Percentage of prize allocation (total s

[2021-11-12 23:56] kimcodeashian commented on #27
Good day @mwufi!

Thanks so much for all your hardwork & participation. In order to finalize winners & prepare for prize payout, we'll need the following actions from your end.

Please provide the following information by **Nov 17, 2021**,  (in this GH Issue is fine):

**1. Team Information**
  - Team Members Information - Github Username + Email Contact + Percentage of prize allocation (total sho

[2021-11-12 23:56] kimcodeashian commented on #28
Good day @aishairzay, @louzhixian!

Thanks so much for all your hardwork & participation. In order to finalize winners & prepare for prize payout, we'll need the following actions from your end.

Please provide the following information by **Nov 17, 2021**,  (in this GH Issue is fine):

**1. Team Information**
  - Team Members Information - Github Username + Email Contact + Percentage of prize all

[2021-11-12 23:56] kimcodeashian commented on #3
Good day @eburnette!

Thanks so much for all your hardwork & participation. In order to finalize winners & prepare for prize payout, we'll need the following actions from your end.

Please provide the following information by **Nov 17, 2021**,  (in this GH Issue is fine):

**1. Team Information**
  - Team Members Information - Github Username + Email Contact + Percentage of prize allocation (total

[2021-11-12 23:57] kimcodeashian commented on #46
Good day @amhossaini, @barekati!

Thanks so much for all your hardwork & participation. In order to finalize winners & prepare for prize payout, we'll need the following actions from your end.

Please provide the following information by **Nov 17, 2021**,  (in this GH Issue is fine):

**1. Team Information**
  - Team Members Information - Github Username + Email Contact + Percentage of prize alloc

[2021-11-12 23:58] kimcodeashian commented on #5
Good day @ph0ph0, @NguyenIvan!

Thanks so much for all your hardwork & participation. In order to finalize winners & prepare for prize payout, we'll need the following actions from your end.

Please provide the following information by **Nov 17, 2021**,  (in this GH Issue is fine):

**1. Team Information**
  - Team Members Information - Github Username + Email Contact + Percentage of prize allocat

[2021-11-12 23:58] chriswayoub commented on #15
Thank you!

Team Members:
@chriswayoub - chriswayoub@gmail.com - 100%

Video Demo:
Are you looking for more of an instructional format or a demo?

[2021-11-12 23:58] kimcodeashian commented on #6
Good day @knagato!

Thanks so much for all your hardwork & participation. In order to finalize winners & prepare for prize payout, we'll need the following actions from your end.

Please provide the following information by **Nov 17, 2021**,  (in this GH Issue is fine):

**1. Team Information**
  - Team Members Information - Github Username + Email Contact + Percentage of prize allocation (total s

[2021-11-13 00:00] kimcodeashian commented on #20
Good day @tyronbrand, @lmcmz, @MarshallBelles, @fee1-dead, @nduplessis!

Thanks so much for all your hardwork & participation. In order to finalize winners & prepare for prize payout, we'll need the following actions from your end.

Please provide the following information by **Nov 17, 2021**,  (in this GH Issue is fine):

**1. Team Information**
  - Team Members Information - Github Username + Em

[2021-11-13 00:02] kimcodeashian commented on #16
Good day @bluesign, @figs999!

Thanks so much for all your hardwork & participation. In order to finalize winners & prepare for prize payout, we'll need the following actions from your end.

Please provide the following information by **Nov 17, 2021**,  (in this GH Issue is fine):

**1. Team Information**
  - Team Members Information - Github Username + Email Contact + Percentage of prize allocati

[2021-11-13 00:03] kimcodeashian commented on #14
Good day @sakshamb2113!

Thanks so much for all your hardwork & participation. In order to finalize winners & prepare for prize payout, we'll need the following actions from your end.

Please provide the following information by **Nov 17, 2021**,  (in this GH Issue is fine):

**1. Team Information**
  - Team Members Information - Github Username + Email Contact + Percentage of prize allocation (to

[2021-11-13 00:03] kimcodeashian commented on #13
Good day @jrkhan!

Thanks so much for all your hardwork & participation. In order to finalize winners & prepare for prize payout, we'll need the following actions from your end.

Please provide the following information by **Nov 17, 2021**,  (in this GH Issue is fine):

**1. Team Information**
  - Team Members Information - Github Username + Email Contact + Percentage of prize allocation (total sh

[2021-11-13 00:03] kimcodeashian commented on #31
Good day @flyinglimao!

Thanks so much for all your hardwork & participation. In order to finalize winners & prepare for prize payout, we'll need the following actions from your end.

Please provide the following information by **Nov 17, 2021**,  (in this GH Issue is fine):

**1. Team Information**
  - Team Members Information - Github Username + Email Contact + Percentage of prize allocation (tot

[2021-11-13 00:04] kimcodeashian commented on #17
Good day @mwufi!

Thanks so much for all your hardwork & participation. In order to finalize winners & prepare for prize payout, we'll need the following actions from your end.

Please provide the following information by **Nov 17, 2021**,  (in this GH Issue is fine):

**1. Team Information**
  - Team Members Information - Github Username + Email Contact + Percentage of prize allocation (total sho

[2021-11-13 00:04] kimcodeashian commented on #58
Good day @hichana!

Thanks so much for all your hardwork & participation. In order to finalize winners & prepare for prize payout, we'll need the following actions from your end.

Please provide the following information by **Nov 17, 2021**,  (in this GH Issue is fine):

**1. Team Information**
  - Team Members Information - Github Username + Email Contact + Percentage of prize allocation (total s

[2021-11-13 00:04] kimcodeashian commented on #30
Good day @hichana!

Thanks so much for all your hardwork & participation. In order to finalize winners & prepare for prize payout, we'll need the following actions from your end.

Please provide the following information by **Nov 17, 2021**,  (in this GH Issue is fine):

**1. Team Information**
  - Team Members Information - Github Username + Email Contact + Percentage of prize allocation (total s

[2021-11-13 00:07] kimcodeashian commented on #15
A video demo to showcase your work. Preferable a demo since we might highlight it in the Closing Ceremonies (for context)

[2021-11-13 01:55] figs999 commented on #16
My team is solo, so it’s just me:
@figs999 (figs999@gmail.com) ~ 100%

[2021-11-13 05:01] fee1-dead commented on #20
Team members for [`flow.rs`](https://github.com/fee1-dead/flow.rs):

 - Github username [`fee1-dead`](https://github.com/fee1-dead), email ent3rm4n@gmail.com, prize allocation 100%

[2021-11-13 05:59] amitkothari commented on #23
Thanks @kimcodeashian

Here is the information for team [enouvo](https://www.hackerearth.com/challenges/hackathon/flip-fest/dashboard/3dca8c7/team/)

### Team members

**Amit Kothari**

- Github Username - @amitkothari
- Email - amit@amitkothari.com
- Percentage of prize allocation - 100%

[2021-11-13 07:00] nduplessis commented on #20
Hey @kimcodeashian

1. @nduplessis - 100%

[2021-11-13 09:19] qq976739120 commented on #16
My team is solo, so it’s just me:
@qq976739120  (976739120@qq.com) ~ 100%

[2021-11-13 10:51] tyronbrand commented on #20
Hi @kimcodeashian

- @tyronbrand , tyron.brand@gmail.com, 100%

[2021-11-13 12:46] hichana commented on #58
Thank you :)

Team Information:
- Github Username: [hichana](https://github.com/hichana)
- Email Contact: hichana@gmail.com
- Percentage of prize allocation: hichana 100%

[2021-11-13 12:47] hichana commented on #29
Thank you :)

Team Information:
- Github Username: [hichana](https://github.com/hichana)
- Email Contact: hichana@gmail.com
- Percentage of prize allocation: hichana 100%

[2021-11-13 12:49] hichana commented on #30
Thank you :)

Team Information:
- Github Username: [hichana](https://github.com/hichana) and [justjoolz](https://github.com/justjoolz)
- Email Contact: hichana@gmail.com, justjoolz@gmail.com
- Percentage of prize allocation: hichana 50%, justjoolz 50%

[2021-11-13 12:49] hichana commented on #18
Thank you :)

Team Information:
- Github Username: [hichana](https://github.com/hichana) and [justjoolz](https://github.com/justjoolz)
- Email Contact: hichana@gmail.com, justjoolz@gmail.com
- Percentage of prize allocation: hichana 50%, justjoolz 50%

[2021-11-13 16:44] bartolomej commented on #21
### Team members info
- [`jakic12`](https://github.com/jakic12)
  -  email: drusany.jakob@gmail.com
  - percentage: `50%`

- [`bartolomej`](https://github.com/bartolomej)
  -  email: bartolomej.kozorog@gmail.com
  - percentage: `50%`

[2021-11-13 19:12] bluesign commented on #16
hey Kim,

@bjartek bjarte.stien.karlsen@gmail.com 33%
@bluesign deniz@edincik.com 33%
@briandilley brian@nftco.com  34%

[2021-11-13 19:12] bluesign commented on #22
@bluesign deniz@edincik.com 100%

[2021-11-13 19:13] bluesign commented on #11
@bluesign deniz@edincik.com 100%

[2021-11-13 19:20] MarshallBelles commented on #20
@kimcodeashian
* @MarshallBelles, marshall.belles@yahoo.com, 90%
* @bluesign, deniz@edincik.com, 10%

[2021-11-13 19:24] barekati commented on #46
Hi @kimcodeashian

- @barekati, mohsenbarekati@gmail.com, 100%
- @amhossaini, ali.mhossaini@gmail.com, 0%

[2021-11-13 22:04] sakshamb2113 commented on #14
Hi @kimcodeashian !
Please find the team details
### Team Members-
- @sakshamb2113 sakshamb2113@gmail.com 100%

[2021-11-14 07:04] flyinglimao commented on #31
Team Members Information:
* flyinglimao - hi@limaois.me 100%

[2021-11-14 07:34] knagato commented on #6
Team Information:

@knagato nagato.kasaki@gmail.com 100%
@avcdsld arandoros@gmail.com 0%
@wshino wshinohara@gmail.com 0%

[2021-11-14 08:02] NikitasKotsolakos commented on #19
Hello @kimcodeashian

**Team Information**
- @NikitasKotsolakos  , kotsolakos.nikitas (a t) gmail (dot) com , 100% of prize
- The other member declared in hackerearth, is @Roronnoazoro ,  who however didn't have the time and didn't participate, so 0% (he will react to the post)

I will look into if I can make a small quick demo

[2021-11-15 02:36] NguyenIvan commented on #5
Hello @kimcodeashian,

My team has only one member, which is me:

Git: NguyenIvan
Email: a.mac@qhoach.com
Percentage of Prize Allocation: 100%

Thank you for reaching out,

Nguyen

[2021-11-15 21:53] ic3guy commented on #23
- @ic3guy
- william.denman@gmail.com
- 100% allocation

[2021-11-15 23:38] aishairzay commented on #28
1. Team Information

Github | email | percentage

aishairzay | amit@zay.codes | 33.4%
zerooverride | tyler.s.eckstein@gmail.com | 33.3%
OmarMalik | omar954@gmail.com | 33.3%

2. Video demo - may record something soon, will update here when we do!

[2021-11-16 08:27] hichana commented on #29
Hi @kimcodeashian, I made a video, probably too long. Should I cut it down?
https://drive.google.com/file/d/1GM8iU3zpqt3icecdXfIEEfCReqOtgxJr/view?usp=sharing

At the end I made my homage to the funny commercial vid from NYC NFT

[2021-11-16 12:32] ph0ph0 commented on #5
Hi @kimcodeashian!

My team also has only one member (me):

GitHub:  ph0ph0
Email: FullStackPho@protonmail.com
Percentage of Prize Allocation: 100%
Demo: https://www.youtube.com/watch?v=Om4r7DXtNZ8
Download Link: https://e.pcloud.link/publink/show?code=XZfnuJZoNkJYbnkm2zBLgkSmSpMfmj3V3NX

Thanks!

Phill

[2021-11-16 14:44] knagato commented on #6
Video Demo: https://drive.google.com/file/d/12JjpZhbMPYrg2MOd9tn85SJ5PPQKl9t8/view?usp=sharing

[2021-11-17 00:31] NikitasKotsolakos commented on #19
Hi @kimcodeashian ,
I also made a demo video, although I didn't have time to make it better as I wanted. But I guess it will have to do.
You can find it here:
https://drive.google.com/file/d/1KcBsMrMPkEAfrFGPw3ykQUxYsxH4Jdfi/view?usp=sharing

[2021-11-17 00:48] kimcodeashian commented on #18
Hey folks,

We've received and reviewed over **82 submissions**! What an amazing community on Flow! To commemorate all the hard work done, we have finalized winners and will be announcing them during our **[Closing Ceremony](https://forms.gle/j9REJJkVtFFibtfR8) on Nov 23rd, 8AM PT**. Be sure to join us - there may be some attendance prizes & a keynote from our CTO, Dete 😉!

**[RSVP here](https://f

[2021-11-17 00:51] kimcodeashian commented on #29
Thanks for the video @hichana ! I'll let you know if it's too long don't worry - thanks!

[2021-11-17 00:52] kimcodeashian commented on #10
Hey folks,

We've received and reviewed over **82 submissions**! What an amazing community on Flow! To commemorate all the hard work done, we have finalized winners and will be announcing them during our **[Closing Ceremony](https://forms.gle/j9REJJkVtFFibtfR8) on Nov 23rd, 8AM PT**. Be sure to join us - there may be some attendance prizes & a keynote from our CTO, Dete 😉!

**[RSVP here](https://f

[2021-11-17 00:53] kimcodeashian commented on #11
Hey folks,

We've received and reviewed over **82 submissions**! What an amazing community on Flow! To commemorate all the hard work done, we have finalized winners and will be announcing them during our **[Closing Ceremony](https://forms.gle/j9REJJkVtFFibtfR8) on Nov 23rd, 8AM PT**. Be sure to join us - there may be some attendance prizes & a keynote from our CTO, Dete 😉!

**[RSVP here](https://f

[2021-11-17 00:53] kimcodeashian commented on #12
Hey folks,

We've received and reviewed over **82 submissions**! What an amazing community on Flow! To commemorate all the hard work done, we have finalized winners and will be announcing them during our **[Closing Ceremony](https://forms.gle/j9REJJkVtFFibtfR8) on Nov 23rd, 8AM PT**. Be sure to join us - there may be some attendance prizes & a keynote from our CTO, Dete 😉!

**[RSVP here](https://f

[2021-11-17 00:55] kimcodeashian commented on #15
Hey folks,

We've received and reviewed over **82 submissions**! What an amazing community on Flow! To commemorate all the hard work done, we have finalized winners and will be announcing them during our **[Closing Ceremony](https://forms.gle/j9REJJkVtFFibtfR8) on Nov 23rd, 8AM PT**. Be sure to join us - there may be some attendance prizes & a keynote from our CTO, Dete 😉!

**[RSVP here](https://f

[2021-11-17 00:59] kimcodeashian commented on #19
Awesome thanks for doing this @NikitasKotsolakos!

[2021-11-17 00:59] kimcodeashian commented on #19
Hey folks,

We've received and reviewed over **82 submissions**! What an amazing community on Flow! To commemorate all the hard work done, we have finalized winners and will be announcing them during our **[Closing Ceremony](https://forms.gle/j9REJJkVtFFibtfR8) on Nov 23rd, 8AM PT**. Be sure to join us - there may be some attendance prizes & a keynote from our CTO, Dete 😉!

**[RSVP here](https://f

[2021-11-17 00:59] kimcodeashian commented on #2
Hey folks,

We've received and reviewed over **82 submissions**! What an amazing community on Flow! To commemorate all the hard work done, we have finalized winners and will be announcing them during our **[Closing Ceremony](https://forms.gle/j9REJJkVtFFibtfR8) on Nov 23rd, 8AM PT**. Be sure to join us - there may be some attendance prizes & a keynote from our CTO, Dete 😉!

**[RSVP here](https://f

[2021-11-17 01:02] kimcodeashian commented on #21
Hey folks,

We've received and reviewed over **82 submissions**! What an amazing community on Flow! To commemorate all the hard work done, we have finalized winners and will be announcing them during our **[Closing Ceremony](https://forms.gle/j9REJJkVtFFibtfR8) on Nov 23rd, 8AM PT**. Be sure to join us - there may be some attendance prizes & a keynote from our CTO, Dete 😉!

**[RSVP here](https://f

[2021-11-17 01:03] kimcodeashian commented on #22
Hey folks,

We've received and reviewed over **82 submissions**! What an amazing community on Flow! To commemorate all the hard work done, we have finalized winners and will be announcing them during our **[Closing Ceremony](https://forms.gle/j9REJJkVtFFibtfR8) on Nov 23rd, 8AM PT**. Be sure to join us - there may be some attendance prizes & a keynote from our CTO, Dete 😉!

**[RSVP here](https://f

[2021-11-17 01:04] kimcodeashian commented on #23
Hey folks,

We've received and reviewed over **82 submissions**! What an amazing community on Flow! To commemorate all the hard work done, we have finalized winners and will be announcing them during our **[Closing Ceremony](https://forms.gle/j9REJJkVtFFibtfR8) on Nov 23rd, 8AM PT**. Be sure to join us - there may be some attendance prizes & a keynote from our CTO, Dete 😉!

**[RSVP here](https://f

[2021-11-17 01:05] kimcodeashian commented on #24
Hey folks,

We've received and reviewed over **82 submissions**! What an amazing community on Flow! To commemorate all the hard work done, we have finalized winners and will be announcing them during our **[Closing Ceremony](https://forms.gle/j9REJJkVtFFibtfR8) on Nov 23rd, 8AM PT**. Be sure to join us - there may be some attendance prizes & a keynote from our CTO, Dete 😉!

**[RSVP here](https://f

[2021-11-17 01:05] kimcodeashian commented on #27
Hey folks,

We've received and reviewed over **82 submissions**! What an amazing community on Flow! To commemorate all the hard work done, we have finalized winners and will be announcing them during our **[Closing Ceremony](https://forms.gle/j9REJJkVtFFibtfR8) on Nov 23rd, 8AM PT**. Be sure to join us - there may be some attendance prizes & a keynote from our CTO, Dete 😉!

**[RSVP here](https://f

[2021-11-17 01:08] kimcodeashian commented on #28
Hey folks,

We've received and reviewed over **82 submissions**! What an amazing community on Flow! To commemorate all the hard work done, we have finalized winners and will be announcing them during our **[Closing Ceremony](https://forms.gle/j9REJJkVtFFibtfR8) on Nov 23rd, 8AM PT**. Be sure to join us - there may be some attendance prizes & a keynote from our CTO, Dete 😉!

**[RSVP here](https://f

[2021-11-17 01:08] kimcodeashian commented on #3
Hey folks,

We've received and reviewed over **82 submissions**! What an amazing community on Flow! To commemorate all the hard work done, we have finalized winners and will be announcing them during our **[Closing Ceremony](https://forms.gle/j9REJJkVtFFibtfR8) on Nov 23rd, 8AM PT**. Be sure to join us - there may be some attendance prizes & a keynote from our CTO, Dete 😉!

**[RSVP here](https://f

[2021-11-17 01:09] kimcodeashian commented on #46
Hey folks,

We've received and reviewed over **82 submissions**! What an amazing community on Flow! To commemorate all the hard work done, we have finalized winners and will be announcing them during our **[Closing Ceremony](https://forms.gle/j9REJJkVtFFibtfR8) on Nov 23rd, 8AM PT**. Be sure to join us - there may be some attendance prizes & a keynote from our CTO, Dete 😉!

**[RSVP here](https://f

[2021-11-17 01:09] kimcodeashian commented on #5
Hey folks,

We've received and reviewed over **82 submissions**! What an amazing community on Flow! To commemorate all the hard work done, we have finalized winners and will be announcing them during our **[Closing Ceremony](https://forms.gle/j9REJJkVtFFibtfR8) on Nov 23rd, 8AM PT**. Be sure to join us - there may be some attendance prizes & a keynote from our CTO, Dete 😉!

**[RSVP here](https://f

[2021-11-17 01:14] kimcodeashian commented on #6
Hey folks,

We've received and reviewed over **82 submissions**! What an amazing community on Flow! To commemorate all the hard work done, we have finalized winners and will be announcing them during our **[Closing Ceremony](https://forms.gle/j9REJJkVtFFibtfR8) on Nov 23rd, 8AM PT**. Be sure to join us - there may be some attendance prizes & a keynote from our CTO, Dete 😉!

**[RSVP here](https://f

[2021-11-17 01:15] kimcodeashian commented on #20
Hey folks,

We've received and reviewed over **82 submissions**! What an amazing community on Flow! To commemorate all the hard work done, we have finalized winners and will be announcing them during our **[Closing Ceremony](https://forms.gle/j9REJJkVtFFibtfR8) on Nov 23rd, 8AM PT**. Be sure to join us - there may be some attendance prizes & a keynote from our CTO, Dete 😉!

**[RSVP here](https://f

[2021-11-17 01:19] kimcodeashian commented on #16
Hey folks,

We've received and reviewed over **82 submissions**! What an amazing community on Flow! To commemorate all the hard work done, we have finalized winners and will be announcing them during our **[Closing Ceremony](https://forms.gle/j9REJJkVtFFibtfR8) on Nov 23rd, 8AM PT**. Be sure to join us - there may be some attendance prizes & a keynote from our CTO, Dete 😉!

**[RSVP here](https://f

[2021-11-17 01:25] kimcodeashian commented on #14
Hey folks,

We've received and reviewed over **82 submissions**! What an amazing community on Flow! To commemorate all the hard work done, we have finalized winners and will be announcing them during our **[Closing Ceremony](https://forms.gle/j9REJJkVtFFibtfR8) on Nov 23rd, 8AM PT**. Be sure to join us - there may be some attendance prizes & a keynote from our CTO, Dete 😉!

**[RSVP here](https://f

[2021-11-17 01:30] bartolomej commented on #2
Hey @kimcodeashian, that's awesome!

### Our team info:

- [`monikaxh`](https://github.com/monikaxh) (monika.hribersek@gmail.com): 18%
- [`jgololicic`](https://github.com/jgololicic) (jernej.gololicic@gmail.com): 45.5%
- [`bartolomej`](https://github.com/bartolomej) (bartolomej.kozorog@gmail.com): 36.5%

### Video demo

- [Youtube video](https://www.youtube.com/watch?v=EHzfYnu1bC0&feature=youtu.be

[2021-11-17 01:36] kimcodeashian commented on #13
Hey folks,

We've received and reviewed over **82 submissions**! What an amazing community on Flow! To commemorate all the hard work done, we have finalized winners and will be announcing them during our **[Closing Ceremony](https://forms.gle/j9REJJkVtFFibtfR8) on Nov 23rd, 8AM PT**. Be sure to join us - there may be some attendance prizes & a keynote from our CTO, Dete 😉!

**[RSVP here](https://f

[2021-11-17 01:36] kimcodeashian commented on #31
Hey folks,

We've received and reviewed over **82 submissions**! What an amazing community on Flow! To commemorate all the hard work done, we have finalized winners and will be announcing them during our **[Closing Ceremony](https://forms.gle/j9REJJkVtFFibtfR8) on Nov 23rd, 8AM PT**. Be sure to join us - there may be some attendance prizes & a keynote from our CTO, Dete 😉!

**[RSVP here](https://f

[2021-11-17 01:36] kimcodeashian commented on #17
Hey folks,

We've received and reviewed over **82 submissions**! What an amazing community on Flow! To commemorate all the hard work done, we have finalized winners and will be announcing them during our **[Closing Ceremony](https://forms.gle/j9REJJkVtFFibtfR8) on Nov 23rd, 8AM PT**. Be sure to join us - there may be some attendance prizes & a keynote from our CTO, Dete 😉!

**[RSVP here](https://f

[2021-11-17 01:37] kimcodeashian commented on #58
Hey folks,

We've received and reviewed over **82 submissions**! What an amazing community on Flow! To commemorate all the hard work done, we have finalized winners and will be announcing them during our **[Closing Ceremony](https://forms.gle/j9REJJkVtFFibtfR8) on Nov 23rd, 8AM PT**. Be sure to join us - there may be some attendance prizes & a keynote from our CTO, Dete 😉!

**[RSVP here](https://f

[2021-11-17 01:43] kimcodeashian commented on #30
Hey folks,

We've received and reviewed over **82 submissions**! What an amazing community on Flow! To commemorate all the hard work done, we have finalized winners and will be announcing them during our **[Closing Ceremony](https://forms.gle/j9REJJkVtFFibtfR8) on Nov 23rd, 8AM PT**. Be sure to join us - there may be some attendance prizes & a keynote from our CTO, Dete 😉!

**[RSVP here](https://f

[2021-11-17 06:01] njuyuanrui commented on #16
My team is solo, so it's just me:
@njuyuanrui njuyuanrui@163.com  100%

[2021-11-18 01:50] mwufi commented on #17
Hi @kimcodeashian ! Didn't see this until today -- My team was only me: so `mwufi` (ztang230@gmail.com) 100%!

Uh.. would you like a video demo?

[2021-11-18 01:53] mwufi commented on #27
Hi @kimcodeashian !

**Team Information**: Github `mwufi` Email `ztang230@gmail.com` Allocation: `100`

This one is too short for a video :))

[2021-11-18 05:43] soetop commented on #21
@kimcodeashian Here is my info.

Here is a demo video: https://youtu.be/PEB1A5GRAbA
Here is documentation: https://laser-teal-a79.notion.site/Notes-for-changes-Flipfest-21-b2c49263e87a4551b57826070fe566a6

- [`soetop`](https://github.com/soetop)
    - percentage: `100%`

[2021-11-18 08:04] aishairzay commented on #28
@kimcodeashian I recorded a 4 min demo video here: https://drive.google.com/file/d/1ZdjWy_KGF8OwadcW7mGX6InP_6jXQc2Q

LMK if it doesn't fit the expected format or needs a re-do!

[2021-11-23 00:06] kimcodeashian commented on #17
If you'd like to share one that'd be great - but it's up to you. Might be a bit too late for closing ceremonies but we'll host it up on our channel in a playlist 👍

[2021-11-24 07:19] bartolomej opened #121 "Incorrect info"
Hey, I noticed that our team [`sheeeeeeeeesh`](https://www.hackerearth.com/challenges/hackathon/flip-fest/dashboard/d28305a/team/) wasn't included into submission results for issue "[Multiple contracts per account#21](https://github.com/onflow/flip-fest/blob/main/winners.md#playground-feature-multiple-contracts-per-account-21)", as we did achieve the first milestone here: https://github.com/onflow

[2021-11-24 07:24] bartolomej opened #122 "Incorrect website link"
Hey, I noticed that there are incorrect links in `winners.md` file for our `flippers` team, here: https://github.com/onflow/flip-fest/blob/main/winners.md#new-tool-block-explorer-gui-2.

- "Flowser Project Website" should be https://flowser.dev instead of https://bartolomej.github.io
- "Flowser repo" should be https://github.com/onflowser/flowser instead of https://github.com/bartolomej/flowser

T

[2021-11-24 20:21] srinjoyc commented on #121
Hey @bartolomej thank you for the correction, we will include it. Is 100% of the reward going to you?

[2021-11-24 20:23] srinjoyc commented on #122
Done! Thanks!

[2021-11-24 20:23] #122 closed

[2021-11-24 20:36] srinjoyc commented on #121
Indeed, sorry for the error - I've included it now. Thanks!

[2021-11-24 20:36] #121 closed

[2021-11-24 23:05] bartolomej commented on #121
Awesome, thanks!

[2021-12-15 19:23] #16 closed